block content
  .aboutus_wrapper
    .title_banner
      b #{common.aboutus.aboutus}
    .page_wrap
      ul.sidebar
        li
          a(href=`${link['/a/why-zhan-huang/'].url}`) #{common.aboutus.whyzhanhuang}
        li.active
          a(href=`${link['/a/company-news/'].url}`) #{common.aboutus.companynews}
        li
          a(href=`${link['/a/our-advantage/'].url}`) #{common.aboutus.ouradvantage}
      .page_container
        .title #{common.aboutus.companynews}
        .content
          .news_view
            .news_date 2018-06-07
            .news_title #{page.aboutus.newstitle2}
            .news_text #{page.aboutus.newstext2}
            a.back(href=`${link['/a/company-news/'].url}`) ←back