block content
  .aboutus_wrapper
    .title_banner
      b #{common.aboutus.aboutus}
    .page_wrap
      ul.sidebar
        li
          a(href=`${link['/a/why-zhan-huang/'].url}`) #{common.aboutus.whyzhanhuang}
        li.active
          a(href=`${link['/a/company-news/'].url}`) #{common.aboutus.companynews}
        li
          a(href=`${link['/a/our-advantage/'].url}`) #{common.aboutus.ouradvantage}
      .page_container
        .title #{common.aboutus.companynews}
        .content
          a.news_list(href=`${link['/2018/06/07/news12/'].url}`)
            .news_date 2018-06-07
            .news_title #{page.aboutus.newstitle1}
            .news_text #{page.aboutus.newstext1}
          a.news_list(href=`${link['/2018/06/07/news/'].url}`)
            .news_date 2018-06-07
            .news_title #{page.aboutus.newstitle2}
            .news_text #{page.aboutus.newstext2}