block content
  .aboutus_wrapper
    .title_banner
      b #{common.aboutus.aboutus}
    .page_wrap
      ul.sidebar
        li
          a(href=`${link['/a/why-zhan-huang/'].url}`) #{common.aboutus.whyzhanhuang}
        li
          a(href=`${link['/a/company-news/'].url}`) #{common.aboutus.companynews}
        li.active
          a(href=`${link['/a/our-advantage/'].url}`) #{common.aboutus.ouradvantage}
      .page_container
        .title #{common.aboutus.ouradvantage}
        .content
          .advantage_content
            img.logo(src="/images/common/logo.png", alt="logo")
            h3 
              | #{page.aboutus.article3}
              br
              | #{page.aboutus.article4}
              span #{page.aboutus.article5}
              | #{page.aboutus.article6}
            ul
              li #{page.aboutus.article7}
              li #{page.aboutus.article8}
              li #{page.aboutus.article9}
              li #{page.aboutus.article10}
              li #{page.aboutus.article11}
              li #{page.aboutus.article12}
              li #{page.aboutus.article13}
              li #{page.aboutus.article14}
              li #{page.aboutus.article15}
              li #{page.aboutus.article16}
              li #{page.aboutus.article17}
            a.get_advantage(href=`${link['/openaccount/'].url}`)
              h2 獲得優勢
              h4 通過3個簡單步驟開立新帳戶