block content
  .aboutus_wrapper
    .title_banner
      b #{common.aboutus.aboutus}
    .page_wrap
      ul.sidebar
        li.active
          a(href=`${link['/a/why-zhan-huang/'].url}`) #{common.aboutus.whyzhanhuang}
        li
          a(href=`${link['/a/company-news/'].url}`) #{common.aboutus.companynews}
        li
          a(href=`${link['/a/our-advantage/'].url}`) #{common.aboutus.ouradvantage}
      .page_container
        .title #{common.aboutus.whyzhanhuang}
        .content
          img(src="/images/aboutus/aboutus01.jpg", alt="about us")
          P #{page.aboutus.article1}
          p #{page.aboutus.article2}
          //- b #{page.aboutus.regulatoryauthority}
          //- .full_box
          //-   p.text_center #{page.aboutus.msbcanada}
          //-   p.text_center #{page.aboutus.regulatorynumber}
          //-   img(src="/images/aboutus/certificate01.jpg", alt="certificate")
          //- br
          //- br
          //- b #{page.aboutus.msbtitle}
          //- p #{page.aboutus.msbinfo1}
          //- br
          //- br
          //- b #{page.aboutus.msbinfo2}
          //- p #{page.aboutus.msbinfo3}
          //-   br
          //-   | #{page.aboutus.msbinfo4}
          //-   br
          //-   | #{page.aboutus.msbinfo5}
          //-   br
          //-   | #{page.aboutus.msbinfo6}
