block content
  .banner-container
    .swiper-wrapper
      .banner.web_view.swiper-slide
        img(src="/images/banner/banner_1.jpg", alt="banner01")
      .banner.mob_view.swiper-slide
        img(src="/images/banner/m_banner_1.jpg", alt="banner01")
  .why_wrap
    .why_title
      h1 #{page.index.whychoose} 
        b #{common.title}
      h2 #{page.index.asyourforexbroker}
    ul.why_list
      li
        img(src="/images/index/why_list_1.png", alt="icon")
        h3 #{page.index.whytitle1}
        p #{page.index.whycontent1}
      li
        img(src="/images/index/why_list_2.png", alt="icon")
        h3 #{page.index.whytitle2}
        p #{page.index.whycontent2}
      li
        img(src="/images/index/why_list_3.png", alt="icon")
        h3 #{page.index.whytitle3}
        p #{page.index.whycontent3}
      li
        img(src="/images/index/why_list_4.png", alt="icon")
        h3 #{page.index.whytitle4}
        p #{page.index.whycontent4}
      li
        img(src="/images/index/why_list_5.png", alt="icon")
        h3 #{page.index.whytitle5}
        p #{page.index.whycontent5}
      li
        img(src="/images/index/why_list_6.png", alt="icon")
        h3 #{page.index.whytitle6}
        p #{page.index.whycontent6}
  .star_trade_wrap
    .star_trade_content
      h2 #{page.index.startradetitle}
      h1 50
        span #{page.index.startradems}
      p #{page.index.startrade1}
      br
      p #{page.index.startrade2}
      br
      p #{page.index.startrade3}
      .trade_btn
        a.member_signup(href="https://account.zhanhuangintl.com/register" target="_blank") #{common.membersignup}
        a.demo_signup(href="https://account.zhanhuangintl.com/register" target="_blank") #{common.demosignup}
  .mt4_download_wrap
    .mt4_download_content
      .mt4_logo
        img(src="/images/mt4/logo.png", alt="mt4")
      .mt4_banner
        img(src="/images/mt4/mt4_banner_1.png", alt="mt4")
      h1 #{common.title}
        b MT
          span 4 
        | #{common.platform}
      h3 #{page.index.mt4description}
      ul.download_btn
        //- li
        //-   a.mac_download(href="https://www.mql5.com/en/articles/1356?utm_source=www.metatrader4.com&utm_campaign=download.mt4.macos" target="_blank")
        //-     img(src="/images/mt4/mac.png", alt="mac")
        //-     .download_text
        //-       b Download
        //-       span MAC OS
        li
          a.windows_download(href="https://download.mql5.com/cdn/web/10950/mt4/zhanhuang4setup.exe" target="_blank")
            img(src="/images/mt4/windows.png", alt="windows")
            .download_text
              b Download
              span windows
        li
          a.ios_download(href="https://download.mql5.com/cdn/mobile/mt4/ios?server=ZhanHuang-Demo,ZhanHuang-Live" target="_blank")
            img(src="/images/mt4/ios.png", alt="ios")
            .download_text
              b Download
              span iPhone / iPad
        li
          a.android_download(href="https://download.mql5.com/cdn/mobile/mt4/android?server=ZhanHuang-Demo,ZhanHuang-Live" target="_blank")
            img(src="/images/mt4/android.png", alt="android")
            .download_text
              b Download
              span Android
  //- .contact_form_wrap
    .contact_form_content
      h1 #{page.index.contacttitle1}
      h2 #{page.index.contacttitle2}
      form.contact_form(action='', method='post')
        label(for='full_name')
        input(type='text' name='full_name' id="full_name" value='' placeholder='名字')
        label(for='cellphone_number')
        input(type='text' name='cellphone_number' id="cellphone_number" value='' placeholder='手機號碼')
        label(for='country')
        input(type='text' name='country' id="country" value='' placeholder='國家')
        label(for='question_type')
        select(name='question_type' id="question_type" value='')
          option(value='') #{common.form.questiontype0}
          option(value='我對產品有興趣') #{common.form.questiontype1}
          option(value='請專人與我聯繫') #{common.form.questiontype2}
          option(value='註冊登錄相關') #{common.form.questiontype3}
          option(value='其他') #{common.form.questiontype4}
        label(for='email')
        input(type='text' name='email' id="email" value='' placeholder='電子郵件地址')
        label(for='message')
        textarea(type='text' name='message' id="message" value='' rows="10" placeholder='訊息說明')
        label(for='captcha')
        .captcha_input
          input(type='' name='captcha' id="captcha" value='' placeholder='驗證碼')
          .captcha_code
            img(src="/images/index/captcha.jpg", alt="captcha")
        button(type='button' title='提交' class='submit_btn')
          span #{common.submit}