block content
  .terms_wrapper
    .title_banner
      b #{common.privacypolicy}
    .page_wrap
      .page_container
        .title #{common.privacypolicy}
        .content
          b #{page.privacy.privacy1}
          p #{page.privacy.privacy1_1}
          h5 #{page.privacy.privacy1_2}
          h5 #{page.privacy.privacy1_3}
          h5 #{page.privacy.privacy1_4}
          h5 #{page.privacy.privacy1_5}
          h5 #{page.privacy.privacy1_6}
          h5 #{page.privacy.privacy1_7}
          h5 #{page.privacy.privacy1_8}
          h5 #{page.privacy.privacy1_9}
          p #{page.privacy.privacy1_10}

          b #{page.privacy.privacy2}
          p #{page.privacy.privacy2_1}
          p #{page.privacy.privacy2_2}

          b #{page.privacy.privacy3}
          h5 #{page.privacy.privacy3_1}
          p #{page.privacy.privacy3_2}

          b #{page.privacy.privacy4}
          h5 #{page.privacy.privacy4_1}
          h5 #{page.privacy.privacy4_2}
          h5 #{page.privacy.privacy4_3}
          h5 #{page.privacy.privacy4_4}
          h5 #{page.privacy.privacy4_5}
          h5 #{page.privacy.privacy4_6}
          p #{page.privacy.privacy4_7}

          b #{page.privacy.privacy5}
          p #{page.privacy.privacy5_1}

          b #{page.privacy.privacy6}
          p #{page.privacy.privacy6_1}

          b #{page.privacy.privacy7}
          h5 #{page.privacy.privacy7_1}
          p #{page.privacy.privacy7_2}

          b #{page.privacy.privacy8}
          p #{page.privacy.privacy8_1}

          b #{page.privacy.privacy9}
          p #{page.privacy.privacy9_1}

          b #{page.privacy.privacy10}
          h5 #{page.privacy.privacy10_1}
          p #{page.privacy.privacy10_2}
            //- span zhanhuangfx@gmail.com