block content
  .terms_wrapper
    .title_banner
      b #{common.termsandconditions}
    .page_wrap
      .page_container
        .title #{common.termsandconditions}
        .content
          b #{page.terms.terms1}
          p #{page.terms.terms1_1}
          p #{page.terms.terms1_2}
          p #{page.terms.terms1_3}
          b #{page.terms.terms2}

          ul 
           li #{page.terms.terms2_1}
           li #{page.terms.terms2_2}
           li #{page.terms.terms2_3}
           li #{page.terms.terms2_4}
           li #{page.terms.terms2_5}
           li #{page.terms.terms2_6}
           li #{page.terms.terms2_7}
           li #{page.terms.terms2_8}
           li #{page.terms.terms2_9}

          b #{page.terms.terms3}
          p #{page.terms.terms3_1}
          p #{page.terms.terms3_2}
          p #{page.terms.terms3_3}

          b #{page.terms.terms4}
          p #{page.terms.terms4_1}
          p #{page.terms.terms4_2}
          p #{page.terms.terms4_3}
          p #{page.terms.terms4_4}

          b #{page.terms.terms5}
          p #{page.terms.terms5_1}
          p #{page.terms.terms5_2}

          b #{page.terms.terms6}
          p #{page.terms.terms6_1}

          b #{page.terms.terms7}
          p #{page.terms.terms7_1}

          b #{page.terms.terms8}
          ul 
           li #{page.terms.terms8_1}
           li #{page.terms.terms8_2}
           li #{page.terms.terms8_3}
           li #{page.terms.terms8_4}
           li #{page.terms.terms8_5}
           li #{page.terms.terms8_6}
           li #{page.terms.terms8_7}
          
          b #{page.terms.terms9}
          p #{page.terms.terms9_1}

          b #{page.terms.terms10}
          p #{page.terms.terms10_1}

          b #{page.terms.terms11}
          p #{page.terms.terms11_1}

          b #{page.terms.terms12}
          p #{page.terms.terms12_1}

          b #{page.terms.terms13}
          p #{page.terms.terms13_1}

          b #{page.terms.terms14}
          p #{page.terms.terms14_1}

          b #{page.terms.terms15}
          p #{page.terms.terms15_1}

          b #{page.terms.terms16}
          p #{page.terms.terms16_1}