block content
  .tradingplatform_wrapper
    .title_banner
      b #{common.platforms.platforms}
    .page_wrap
      .page_container
        .title
          img(src="/images/mt4/logo.png", alt="mt4")
        .content
          h1 #{page.tradingplatform.tradingplatform1}
          h2 #{page.tradingplatform.tradingplatform2}
          .tick #{page.tradingplatform.tradingplatform3}
          .tick #{page.tradingplatform.tradingplatform4}
          .tick #{page.tradingplatform.tradingplatform5}
          .tick #{page.tradingplatform.tradingplatform6}
          ul.web_download
            img(src="/images/mt4/pc_img.png", alt="pc")
            //- li
            //-   a.mac_download(href="https://www.mql5.com/en/articles/1356?utm_source=www.metatrader4.com&utm_campaign=download.mt4.macos" target="_blank")
            //-     img(src="/images/mt4/mac.png", alt="mac")
            //-     .download_text
            //-       b Download
            //-       span #{page.tradingplatform.tradingplatform7}
            li
              a.windows_download(href="https://download.mql5.com/cdn/web/10950/mt4/zhanhuang4setup.exe" target="_blank")
                img(src="/images/mt4/windows.png", alt="windows")
                .download_text
                  b Download
                  span windows
          h2 #{page.tradingplatform.tradingplatform9}
          p 
            | #{page.tradingplatform.tradingplatform10}
            br
            | #{page.tradingplatform.tradingplatform11}
            br
            | #{page.tradingplatform.tradingplatform12}
          ul.mob_download
            img(src="/images/mt4/mt4_banner_1.png", alt="mt4_banner_1")
            li
              a.ios_download(href="https://download.mql5.com/cdn/mobile/mt4/ios?server=ZhanHuang-Demo,ZhanHuang-Live" target="_blank")
                img(src="/images/mt4/ios.png", alt="ios")
                .download_text
                  b Download
                  span iPhone / iPad
              img(src="/images/mt4/ios_qrcode.jpg", alt="qrcode")
              p 
                | #{page.tradingplatform.tradingplatform14}
                br
                br
                | #{page.tradingplatform.tradingplatform15}
            img.android_banner(src="/images/mt4/mt4_banner_2.png", alt="mt4_banner_2")
            li
              a.android_download(href="https://download.mql5.com/cdn/mobile/mt4/android?server=ZhanHuang-Demo,ZhanHuang-Live" target="_blank")
                img(src="/images/mt4/android.png", alt="android")
                .download_text
                  b Download
                  span Android
              img(src="/images/mt4/android_qrcode.jpg", alt="qrcode")
              p 
                | #{page.tradingplatform.tradingplatform17}
                br
                br
                | #{page.tradingplatform.tradingplatform18}

          