block footer
  footer
    .footer_wrapper
      h1 我們的流動性供應商
      ul.partner
        li
          img(src="/images/common/partner_1.png", alt="ubs")
        li
          img(src="/images/common/partner_2.png", alt="citi")
        li
          img(src="/images/common/partner_3.png", alt="barclays")
        li
          img(src="/images/common/partner_4.png", alt="j.p.morgan")
        li
          img(src="/images/common/partner_5.png", alt="bank of america merrill lynch")
        li
          img(src="/images/common/partner_6.png", alt="deutsche bank")
      ul.web_map
        li #{common.aboutus.aboutus}
          ul
            li
              a(href=`${link['/a/why-zhan-huang/'].url}`) #{common.aboutus.whyzhanhuang}
            li
              a(href=`${link['/a/company-news/'].url}`) #{common.aboutus.companynews}
            li
              a(href=`${link['/a/our-advantage/'].url}`) #{common.aboutus.ouradvantage}
        li #{common.accounttypes.openaccount}
          ul
            li 
              a(href=`${link['/openaccount/'].url}`) #{common.accounttypes.accounttype}
            li
              a(href=`${link['/openaccount/zhan-huang-no-1/'].url}`) #{common.accounttypes.zhanhuangno1}
            li
              a(href=`${link['/deposit/'].url}`) #{common.accounttypes.deposit}
            li
              a(href=`${link['/openaccount/withdrawal/'].url}`) #{common.accounttypes.withdrawal}
        li #{common.markets.markets}
          ul
            li 
              a(href=`${link['/spot-metals-commodities/'].url}`) #{common.markets.spotmetalscommodities}
            li
              a(href=`${link['/spot-metals-commodities/spreads-and-specifications/'].url}`) #{common.markets.spreadsandspecifications}
            li
              a(href=`${link['/spot-metals-commodities/trade-indices/'].url}`) #{common.markets.tradeindices}
            li
              a(href=`${link['/spot-metals-commodities/forex/'].url}`) #{common.markets.forex}
        li #{common.platforms.platforms}
          ul
            //- li 
            //-   a(href=`${link['/trading-platform/'].url}`) #{common.platforms.macos}
            li
              a(href=`${link['/trading-platform/'].url}`) #{common.platforms.windows}
            li
              a(href=`${link['/trading-platform/'].url}`) #{common.platforms.ios}
            li
              a(href=`${link['/trading-platform/'].url}`) #{common.platforms.android}
        li #{common.helpdesk.helpdesk}
          ul
            li 
              a(href=`${link['/knowledge-base/'].url}`) #{common.helpdesk.knowledgebase}
            //- li
            //-   a(href="https://www.tidio.com/talk/wajvdz914z35brjshmhjwbobu1cmqjxg" target="_blank") #{common.helpdesk.chatonsite}
            //- li
              a(href=`${link['/contactus/'].url}`) #{common.helpdesk.contactus}
      //- .regulatory
      //-   | 監管單位
      //-   img(src="/images/common/regulatory.png", alt="regulatory")
      //-   a(href=`${link['/a/why-zhan-huang/'].url}`) #{page.aboutus.msbcanada}
      //-   a(href=`${link['/a/why-zhan-huang/'].url}`) #{page.aboutus.regulatorynumber}
      //- .contact_info
      //-   .line_qrcode
      //-     img(src="/images/common/line_qrcode.jpg", alt="line qrcode")
      //-     | LINE
      //-   .wechat_qrcode
      //-     img(src="/images/common/wechat_qrcode.jpg", alt="wechat qrcode")
      //-     | WeChat
      //-   .information
      //-     b 營業時間和其他資訊
      //-     p
      //-       | zhanhuangfx@gmail.com
      //-       br
      //-       | 線上客服WeChat
      //-       br
      //-       | 加入詹皇, 將有專人為您服務
      //-       br
      //-       | 工作時間為時間週一至週五上午9點30分至晚上8點
      //-       br
      //-       | 任何有關我們公司或服務的問題請聯繫我們, 我們將儘快回復你
      ul.about_information
        li INFORMATION 
          ul 
            li 
              b Company name：
              span Zhan Huang Limited
            //- li 
            //-   b Registered address：
            //-   span 8th Floor, Kam Lung Commercial Centre, 2 Hart Avenue, Tsim Sha Tsui, Kowloon, Hong Kong
        li CONTACT
          ul 
            li 
              b Registration number：
              span 2613585
            li 
              b Full physical address：
              span #0401,block206,Loyang avenue,Singapore 509061
            li 
              b Email address：
              span service@zhanhuangintl.com
            li 
              b Telephone number：
              span +65-64002616
        li.map MAP
          ul 
            li 
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.4670288304615!2d114.17175457593497!3d22.298170342971467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400ee12086021%3A0x8b8ef6fadfcb38e4!2z6aaZ5riv5bCW5rKZ5ZKA6LWr5b636YGTMuiZn-mHkem6n-WVhualreS4reW_gw!5e0!3m2!1szh-TW!2stw!4v1683631016662!5m2!1szh-TW!2stw' width='100%' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
        li.disclaimer Disclaimer
          ul 
            li 
              b Regional restrictions: Zhan Huang does not provide services to residents of the American region.
              br
              b Risk Disclosure:
              br
              span Leveraged trading of financial products such as CFD and foreign exchange is accompanied by extremely high risks. Your losses may exceed your initial investment, and you should not invest more than you can afford to lose. Leveraged product are not suitable for all investors. Please ensure that you fully understand the risks involved before trading. Please take into consideration your trading experience, financial status, investment objectives, risk tolerance and seek third-party independent investment advisers if necessary.
    .copyright_wrapper
      .copyright
        span #{common.zhanhuangInternational}
        span #{common.bestforexbroker}
        span #{common.orexplatform}  © 2019
        a(href=`${link['/a/terms-and-conditions/'].url}`) #{common.termsandconditions}
        a(href=`${link['/a/privacy-policy/'].url}`) #{common.privacypolicy}
        a#siteseal
          script(async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=5bYBqROAb5pjFDE0c4JQG5k1Jpu1kxx2ABw7rmhpvS6k3JZdY6lzviC6PiO1")
