block header
  header
    //- .float_right
    //-   .wechat_content
    //-     .wechat_info
    //-       | #{common.wechatonline}
    //-       img(src="/images/common/wechat_qrcode.jpg", alt="wechat")
    //-     img(src="/images/common/wechat.png", alt="wechat")
    //-   .line_content
    //-     .line_info
    //-       |  LINE ID :  zh357999
    //-       img(src="/images/common/line_qrcode.jpg", alt="line")
    //-     img(src="/images/common/line.png", alt="line")
    //-   .email_content
    //-     .email_info
    //-       p #{common.contacttime}
    //-       p #{common.contactdate}
    //-       .mail zhanhuangfx@gmail.com
    //-       //- a.contact_btn(href=`${link['/contactus/'].url}`) #{common.helpdesk.contactus}
    //-     img(src="/images/common/email.png", alt="email")
    .header_wrapper
      a(href=`${link['/'].url}`)
        .logo
      .header_account
        a.member_signup(href="https://account.zhanhuangintl.com/register" target="_blank")
          img(src="/images/common/signup_icon.png", alt="signup icon")
          span #{common.membersignup}
        .mob_footer
          a.member_login(href="https://crm-portal.zhanhuangintl.com/login" target="_blank")
            img(src="/images/common/member_icon.png", alt="member icon")
            span #{common.memberlogin}
          //- a.manager_login(href="http://zhanhuang1788.com/admin/" target="_blank")
          //-   img(src="/images/common/manager_icon.png", alt="manager icon")
          //-   span #{common.managerlogin}
        .lang_link
          .lang_img
            img#initLangImg(src="/images/common/flag_tw.png")
          #initLangText.lang_text 中文(繁體)
          ul.dropdown_lang
            //- li
            //-   .lang_img
            //-     img(src="/images/common/flag_en.png", alt="English")
            //-   .lang_text#Locales_EN(onclick="localeChange('')") English
            li
              .lang_img
                img(src="/images/common/flag_tw.png", alt="中文(繁體)")
              .lang_text#Locales_TW(onclick="localeChange('/tw')") 中文(繁體)
            li
              .lang_img
                img(src="/images/common/flag_zh.png", alt="中文(简体)")
              .lang_text#Locales_ZH(onclick="localeChange('/zh')") 中文(简体)
            //- li
            //-   .lang_img
            //-     img(src="/images/common/flag_ja.png", alt="日本語")
            //-   .lang_text#Locales_JP(onclick="localeChange('/ja')") 日本語
        .mob_menu
          img(src="/images/common/menu_icon.png", alt="menu")
      .header_nav
        ul
          li.mob_lang #{common.lang}
            ul.sub_nav
              li
                a#Locales_TW(onclick="localeChange('/tw')") 中文(繁體)
              li
                a#Locales_ZH(onclick="localeChange('/zh')") 中文(简体)
          li
            a(href=`${link['/'].url}`) #{common.indexhome}
          li #{common.aboutus.aboutus}
            ul.sub_nav
              li
                a(href=`${link['/a/why-zhan-huang/'].url}`) #{common.aboutus.whyzhanhuang}
              li
                a(href=`${link['/a/company-news/'].url}`) #{common.aboutus.companynews}
              li
                a(href=`${link['/a/our-advantage/'].url}`) #{common.aboutus.ouradvantage}
          li #{common.accounttypes.openaccount}
            ul.sub_nav
              li
                a(href=`${link['/openaccount/'].url}`) #{common.accounttypes.accounttype}
              li
                a(href=`${link['/openaccount/zhan-huang-no-1/'].url}`) #{common.accounttypes.zhanhuangno1}
              li
                a(href=`${link['/deposit/'].url}`) #{common.accounttypes.deposit}
              li
                a(href=`${link['/openaccount/withdrawal/'].url}`) #{common.accounttypes.withdrawal}
          li #{common.markets.markets}
            ul.sub_nav
              li
                a(href=`${link['/spot-metals-commodities/'].url}`) #{common.markets.spotmetalscommodities}
              li
                a(href=`${link['/spot-metals-commodities/spreads-and-specifications/'].url}`) #{common.markets.spreadsandspecifications}
              li
                a(href=`${link['/spot-metals-commodities/trade-indices/'].url}`) #{common.markets.tradeindices}
              li
                a(href=`${link['/spot-metals-commodities/forex/'].url}`) #{common.markets.forex}
          li #{common.platforms.platforms}
            ul.sub_nav
              //- li
              //-   a(href=`${link['/trading-platform/'].url}`) #{common.platforms.macos}
              li
                a(href=`${link['/trading-platform/'].url}`) #{common.platforms.windows}
              li
                a(href=`${link['/trading-platform/'].url}`) #{common.platforms.ios}
              li
                a(href=`${link['/trading-platform/'].url}`) #{common.platforms.android}
          li #{common.news.news}
            ul.sub_nav
              li
                a(href=`${link['/economic-calendar/'].url}`) #{common.news.economiccalendar}
              li
                a(href=`${link['/economic-calendar/market-reports/'].url}`) #{common.news.marketreports}
              li
                a(href=`${link['/economic-calendar/technical-reports/'].url}`) #{common.news.technicalreports}
              li
                a(href=`${link['/technical-charts/'].url}`) #{common.news.technicalcharts}
          li #{common.helpdesk.helpdesk}
            ul.sub_nav
              li
                a(href=`${link['/knowledge-base/'].url}`) #{common.helpdesk.knowledgebase}
              //- li
              //-   a(href="https://www.tidio.com/talk/wajvdz914z35brjshmhjwbobu1cmqjxg" target="_blank") #{common.helpdesk.chatonsite}
              //- li
                a(href=`${link['/contactus/'].url}`) #{common.helpdesk.contactus}