extends layout
block popup
    .popup
        .popup_content
            .close
            h2 香港詹皇關於惡意誹謗的嚴正聲明
            p
                | 近期，香港詹皇發現有其他外匯網站盜用香港詹皇ZH的品牌名稱，LOGO及使用不實合約進行虛假宣傳及詐欺等行為，香港詹皇也尚未有任何一個依詹皇之名而組成的社群群組進行帶單，喊單等行為。
                br
                br
                | 並請使用者留意，本公司尚未與其他企業進行合作業務，所有香港詹皇相關系統使用請至香港詹皇正式官網進行下載執行，其他問題並可聯繫官網所提供的客服資訊或者信箱，以防被有心人詐騙利用。
                br
                br
                | 香港詹皇嚴厲譴責所有冒用本公司之名進行詐騙等行為，破壞長久以來香港詹皇的經營理念及客戶對詹皇信任感。
                br
                | 本聲明發出後，本公司已經進行反蒐證及準備相關資料，律師將完全通過法律途徑追究相關毀謗行為之相關的法律責任。
                br
                br
                | 特此聲明。
                br
                | 2020年10月27號
                br
                | 此網站內的ZH並非香港詹皇，在此網站所有出入金並與本公司無關，請使用者留意以防受騙。
                br
                a(href="https://www.rfmfxm.com/Pc/Index/index.html" target="_blank") https://www.rfmfxm.com/Pc/Index/index.html
                br
                br
                img(src="/images/index/liar.png", alt="icon")
include header
include block/index
include footer