doctype html
html(lang=html.lang)
  head
    title #{common.title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='description', content=page.aboutus.article2)
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css')
    if productionMode
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block popup
    block header
    .wrapper
      block content
    block footer
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js')
    if productionMode
      script(src='/javascripts/index.js')
    else
      script(src='/javascripts/bundle.js')
