block content
  .openaccount_wrapper
    .title_banner
      b #{common.accounttypes.openaccount}
    .page_wrap
      //- div.sidebar-container.swiper-container
        ul.sidebar.swiper-wrapper
          li.swiper-slide
            a(href=`${link['/openaccount/'].url}`) #{common.accounttypes.accounttype}
          li.swiper-slide
            a(href=`${link['/openaccount/zhan-huang-no-1/'].url}`) #{common.accounttypes.zhanhuangno1}
          li.swiper-slide.active
            a(href=`${link['/deposit/'].url}`) #{common.accounttypes.deposit}
          li.swiper-slide
            a(href=`${link['/openaccount/withdrawal/'].url}`) #{common.accounttypes.withdrawal}
      ul.sidebar
        li
          a(href=`${link['/openaccount/'].url}`) #{common.accounttypes.accounttype}
        li
          a(href=`${link['/openaccount/zhan-huang-no-1/'].url}`) #{common.accounttypes.zhanhuangno1}
        li.active
          a(href=`${link['/deposit/'].url}`) #{common.accounttypes.deposit}
        li
          a(href=`${link['/openaccount/withdrawal/'].url}`) #{common.accounttypes.withdrawal}
      .page_container
        .title #{common.accounttypes.deposit}
        .content
          .deposit_card
            img(src="/images/openaccount/ai_icon.png", alt="ai")
            .deposit_name
              span #{common.title}
              | #{page.accounttypes.aitrading}
            a.deposit_btn(href="https://app.getresponse.com/site2/umeabimfreegood1?u=SdUd&webforms_id=BQ45e" target="_blank") #{page.accounttypes.depositnow}
          .deposit_card
            img(src="/images/openaccount/signal_icon.png", alt="signal")
            .deposit_name
              span #{common.title}
              | #{page.accounttypes.structuralindexsignal}
            a.deposit_btn(href="https://app.getresponse.com/site2/umeabimfreegood1?u=SdUd&webforms_id=BQ45e" target="_blank") #{page.accounttypes.depositnow}
              