block content
  .openaccount_wrapper
    .title_banner
      b #{common.accounttypes.openaccount}
    .page_wrap
      //- div.sidebar-container.swiper-container
        ul.sidebar.swiper-wrapper
          li.swiper-slide.active
            a(href=`${link['/openaccount/'].url}`) #{common.accounttypes.accounttype}
          li.swiper-slide
            a(href=`${link['/openaccount/zhan-huang-no-1/'].url}`) #{common.accounttypes.zhanhuangno1}
          li.swiper-slide
            a(href=`${link['/deposit/'].url}`) #{common.accounttypes.deposit}
          li.swiper-slide
            a(href=`${link['/openaccount/withdrawal/'].url}`) #{common.accounttypes.withdrawal}
        div.sidebar-container.swiper-container
      ul.sidebar
        li.active
          a(href=`${link['/openaccount/'].url}`) #{common.accounttypes.accounttype}
        li
          a(href=`${link['/openaccount/zhan-huang-no-1/'].url}`) #{common.accounttypes.zhanhuangno1}
        li
          a(href=`${link['/deposit/'].url}`) #{common.accounttypes.deposit}
        li
          a(href=`${link['/openaccount/withdrawal/'].url}`) #{common.accounttypes.withdrawal}
      .page_container
        .title #{common.accounttypes.accounttype}
        .content
          b #{page.accounttypes.accounttext1}
          p #{page.accounttypes.accounttext2}
          ul.account_step
            li
              .step_icon
                img(src="/images/openaccount/openaccount_step_1.png", alt="icon")
              .step_no
                | #{page.accounttypes.step}
                b 1
              .step_text
                | #{page.accounttypes.openstep1}
            li
              .step_icon
                img(src="/images/openaccount/openaccount_step_2.png", alt="icon")
              .step_no
                | #{page.accounttypes.step}
                b 2
              .step_text
                | #{page.accounttypes.openstep2}
            li
              .step_icon
                img(src="/images/openaccount/openaccount_step_3.png", alt="icon")
              .step_no
                | #{page.accounttypes.step}
                b 3
              .step_text
                | #{page.accounttypes.openstep3}
            li
              .step_icon
                img(src="/images/openaccount/openaccount_step_4.png", alt="icon")
              .step_no
                | #{page.accounttypes.step}
                b 4
              .step_text
                | #{page.accounttypes.openstep4}
            li
              .step_icon
                img(src="/images/openaccount/openaccount_step_5.png", alt="icon")
              .step_no
                | #{page.accounttypes.step}
                b 5
              .step_text
                | #{page.accounttypes.openstep5}
          a.open_btn(href="https://account.zhanhuangintl.com/register" target="_blank") #{page.accounttypes.opennewmt4account}
