block content
  .openaccount_wrapper
    .title_banner
      b #{common.accounttypes.openaccount}
    .page_wrap
      //- div.sidebar-container.swiper-container
        ul.sidebar.swiper-wrapper
          li.swiper-slide
            a(href=`${link['/openaccount/'].url}`) #{common.accounttypes.accounttype}
          li.swiper-slide
            a(href=`${link['/openaccount/zhan-huang-no-1/'].url}`) #{common.accounttypes.zhanhuangno1}
          li.swiper-slide
            a(href=`${link['/deposit/'].url}`) #{common.accounttypes.deposit}
          li.swiper-slide.active
            a(href=`${link['/openaccount/withdrawal/'].url}`) #{common.accounttypes.withdrawal}
      ul.sidebar
        li
          a(href=`${link['/openaccount/'].url}`) #{common.accounttypes.accounttype}
        li
          a(href=`${link['/openaccount/zhan-huang-no-1/'].url}`) #{common.accounttypes.zhanhuangno1}
        li
          a(href=`${link['/deposit/'].url}`) #{common.accounttypes.deposit}
        li.active
          a(href=`${link['/openaccount/withdrawal/'].url}`) #{common.accounttypes.withdrawal}
      .page_container
        .title #{common.accounttypes.withdrawal}
        .content
          b 出金快速便捷
          p 您可隨時從您的
            a(href="https://crm-portal.zhanhuangintl.com/login" target="_blank") 客戶專區
            | 內直接辦理出金。資金可以直接出金至您指定的銀行帳戶。
          .withdrawal_card
            img(src="/images/openaccount/ai_icon.png", alt="ai")
            .withdrawal_name
              span #{common.title}
              | #{page.accounttypes.aitrading}
            .withdrawal_text #{page.accounttypes.withdrawalinstructions1}
            a.withdrawal_btn(href="https://crm-portal.zhanhuangintl.com/login" target="_blank") #{page.accounttypes.withdrawalnow}
          .withdrawal_card
            img(src="/images/openaccount/signal_icon.png", alt="signal")
            .withdrawal_name
              span #{common.title}
              | #{page.accounttypes.structuralindexsignal}
            .withdrawal_text #{page.accounttypes.withdrawalinstructions2}
            a.withdrawal_btn(href="https://crm-portal.zhanhuangintl.com/login" target="_blank") #{page.accounttypes.withdrawalnow}
          b #{page.accounttypes.precautions}
          h5 #{page.accounttypes.precautions1}
          h5 #{page.accounttypes.precautions2}
          h5 #{page.accounttypes.precautions3}
          h5 #{page.accounttypes.precautions4}
          p #{page.accounttypes.precautions5}
          p #{page.accounttypes.precautions6}