block content
  .openaccount_wrapper
    .title_banner
      b #{common.accounttypes.openaccount}
    .page_wrap
      //- div.sidebar-container.swiper-container
        ul.sidebar.swiper-wrapper
          li.swiper-slide
            a(href=`${link['/openaccount/'].url}`) #{common.accounttypes.accounttype}
          li.swiper-slide.active
            a(href=`${link['/openaccount/zhan-huang-no-1/'].url}`) #{common.accounttypes.zhanhuangno1}
          li.swiper-slide
            a(href=`${link['/deposit/'].url}`) #{common.accounttypes.deposit}
          li.swiper-slide
            a(href=`${link['/openaccount/withdrawal/'].url}`) #{common.accounttypes.withdrawal}
      ul.sidebar
        li
          a(href=`${link['/openaccount/'].url}`) #{common.accounttypes.accounttype}
        li.active
          a(href=`${link['/openaccount/zhan-huang-no-1/'].url}`) #{common.accounttypes.zhanhuangno1}
        li
          a(href=`${link['/deposit/'].url}`) #{common.accounttypes.deposit}
        li
          a(href=`${link['/openaccount/withdrawal/'].url}`) #{common.accounttypes.withdrawal}
      .page_container
        .title #{common.accounttypes.zhanhuangno1}
        .content
          b #{page.accounttypes.Zhanhuangaitrading}
          .vip_card
            img.card_icon(src="/images/openaccount/vip_icon.png", alt="vip")
            .card_name #{page.accounttypes.vipname}
            .card_slogan #{page.accounttypes.vipslogan}
            .card_money 10,000
              span USD
            ul.card_list
              li #{page.accounttypes.vipitem1}
              li #{page.accounttypes.vipitem2}
              li #{page.accounttypes.vipitem3}
              li #{page.accounttypes.vipitem4}
              li #{page.accounttypes.vipitem5}
              li #{page.accounttypes.vipitem6}
              li #{page.accounttypes.vipitem7}
            a.cashin_btn(href="https://account.zhanhuangintl.com/register" target="_blank") #{page.accounttypes.cashinnow}
          .mini_card
            img.card_icon(src="/images/openaccount/mini_icon.png", alt="mini")
            .card_name #{page.accounttypes.mininame}
            .card_slogan #{page.accounttypes.minislogan}
            .card_money 5,000
              span USD
            ul.card_list
              li #{page.accounttypes.mini1}
              li #{page.accounttypes.mini2}
              li #{page.accounttypes.mini3}
              li #{page.accounttypes.mini4}
              li #{page.accounttypes.mini5}
              li #{page.accounttypes.mini6}
              li #{page.accounttypes.mini7}
            a.cashin_btn(href="https://account.zhanhuangintl.com/register" target="_blank") #{page.accounttypes.cashinnow}
