block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.contactus}
    //- .page_wrap
    //-   .page_container
    //-     .title #{common.helpdesk.contactus}
    //-     .content
    //-       .contact_form_content
    //-         b 任何有關我們公司或服務的問題請聯繫我們, 我們將儘快回復你
    //-         form.contact_form(action='', method='post')
    //-           label(for='full_name')
    //-           input(type='text' name='full_name' id="full_name" value='' placeholder='名字')
    //-           label(for='cellphone_number')
    //-           input(type='text' name='cellphone_number' id="cellphone_number" value='' placeholder='手機號碼')
    //-           label(for='country')
    //-           input(type='text' name='country' id="country" value='' placeholder='國家')
    //-           label(for='question_type')
    //-           select(name='question_type' id="question_type" value='')
    //-             option(value='') #{common.form.questiontype0}
    //-             option(value='我對產品有興趣') #{common.form.questiontype1}
    //-             option(value='請專人與我聯繫') #{common.form.questiontype2}
    //-             option(value='註冊登錄相關') #{common.form.questiontype3}
    //-             option(value='其他') #{common.form.questiontype4}
    //-           label(for='email')
    //-           input(type='text' name='email' id="email" value='' placeholder='電子郵件地址')
    //-           label(for='message')
    //-           textarea(type='text' name='message' id="message" value='' rows="10" placeholder='訊息說明')
    //-           label(for='captcha')
    //-           .captcha_input
    //-             input(type='' name='captcha' id="captcha" value='' placeholder='驗證碼')
    //-             .captcha_code
    //-               img(src="/images/index/captcha.jpg", alt="captcha")
    //-           button(type='button' title='提交' class='submit_btn')
    //-             span #{common.submit}
    //-         ul.qrcode_box
    //-           li
    //-             | WeChat 
    //-             img(src="/images/common/wechat_qrcode.jpg", alt="wechat")
    //-           li
    //-             | LINE
    //-             span ID : zh357999
    //-             img(src="/images/common/wechat_qrcode.jpg", alt="wechat")