block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.helpdesk}
    .page_wrap
      .page_container
        .title #{page.helpdesk.helpdesktitle}
        .content
          .help_view
            .help_title #{page.helpdesk.help4_2}
            .help_text 
              | #{page.helpdesk.help4_2_1}
              br
              br
              | #{page.helpdesk.help4_2_2}
              br
              br
              | #{page.helpdesk.help4_2_3}
              br
              br
            a.back(href=`${link['/knowledge-base/'].url}`) ←back