block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.helpdesk}
    .page_wrap
      .page_container
        .title #{page.helpdesk.helpdesktitle}
        .content
          .help_view
            .help_title #{page.helpdesk.help2_1}
            .help_text 
              | #{page.helpdesk.help2_1_1}
              br
              | #{page.helpdesk.help2_1_2}
              br
              | #{page.helpdesk.help2_1_3}
              br
              | #{page.helpdesk.help2_1_4}
              br
              | #{page.helpdesk.help2_1_5}
              br
              | #{page.helpdesk.help2_1_6}
              br
              | #{page.helpdesk.help2_1_7}
              br
              | #{page.helpdesk.help2_1_8}
              br
              | #{page.helpdesk.help2_1_9}
              br
              | #{page.helpdesk.help2_1_10}
              br
              | #{page.helpdesk.help2_1_11}
              br
              | #{page.helpdesk.help2_1_12}
              br
              | #{page.helpdesk.help2_1_13}
              br
              | #{page.helpdesk.help2_1_14}
              br
              | #{page.helpdesk.help2_1_15}
              br
            a.back(href=`${link['/knowledge-base/'].url}`) ←back