block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.helpdesk}
    .page_wrap
      .page_container
        .title #{page.helpdesk.helpdesktitle}
        .content
          ul.help_lists
            //- li
              .help_title #{page.helpdesk.searchtitle}
              .help_search
                label(for='keyword')
                input(type='text' name='keyword' id="keyword" value='' placeholder='搜索文檔')
                button(type='button' title='搜尋')
                  img(src="/images/help/search_icon.png", alt="search")
              .search_results
                span xxx
                | #{page.helpdesk.searchresults}
              .help_item
                a(href=`${link['/knowledge-base/how-can-i-insert-my-custom-indicator-into-the-trading-platform/'].url}`) #{page.helpdesk.help1_1}
            li
              .help_title #{page.helpdesk.help1}
              .help_item
                a(href=`${link['/knowledge-base/how-can-i-insert-my-custom-indicator-into-the-trading-platform/'].url}`) #{page.helpdesk.help1_1}
                a(href=`${link['/knowledge-base/how-to-insert-chart-indicators/'].url}`) #{page.helpdesk.help1_2}
            li
              .help_title #{page.helpdesk.help2}
              .help_item
                a(href=`${link['/knowledge-base/trading-currency/'].url}`) #{page.helpdesk.help2_1}
                a(href=`${link['/knowledge-base/%e6%9c%80%e5%b0%8f%e4%ba%a4%e6%98%93%e6%89%8b%e6%95%b0%e6%98%af%e5%a4%9a%e5%b0%91%ef%bc%9f/'].url}`) #{page.helpdesk.help2_2}
                a(href=`${link['/knowledge-base/spread/'].url}`) #{page.helpdesk.help2_3}
                a(href=`${link['/knowledge-base/trading-close/'].url}`) #{page.helpdesk.help2_4}
            li
              .help_title #{page.helpdesk.help3}
              .help_item
                a(href=`${link['/knowledge-base/%e5%a6%82%e4%bd%95%e5%81%9a%e9%a3%8e%e9%99%a9%e7%ae%a1%e7%90%86%ef%bc%9f/'].url}`) #{page.helpdesk.help3_1}
                a(href=`${link['/knowledge-base/trading-strategy/'].url}`) #{page.helpdesk.help3_2}
            li
              .help_title #{page.helpdesk.help4}
              .help_item
                a(href=`${link['/knowledge-base/howdoiknowmyaccountisactive/'].url}`) #{page.helpdesk.help4_1}
                a(href=`${link['/knowledge-base/realaccountvsdemoaccount/'].url}`) #{page.helpdesk.help4_2}
            li
              .help_title #{page.helpdesk.help5}
              .help_item
                a(href=`${link['/knowledge-base/what-is-forex/'].url}`) #{page.helpdesk.help5_1}
                a(href=`${link['/knowledge-base/advantage/'].url}`) #{page.helpdesk.help5_2}
                a(href=`${link['/knowledge-base/howforexworks/'].url}`) #{page.helpdesk.help5_3}
                a(href=`${link['/knowledge-base/forex-trading-risk-control/'].url}`) #{page.helpdesk.help5_4}