block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.helpdesk}
    .page_wrap
      .page_container
        .title #{page.helpdesk.helpdesktitle}
        .content
          .help_view
            .help_title #{page.helpdesk.help5_1}
            .help_text 
              | #{page.helpdesk.help5_1_1}
              br
              br
              | #{page.helpdesk.help5_1_2}
              br
              br
              | #{page.helpdesk.help5_1_3}
              br
              br
              | #{page.helpdesk.help5_1_4}
              br
              br
              h3 #{page.helpdesk.help5_1_5}
              | #{page.helpdesk.help5_1_6}
              br
              | #{page.helpdesk.help5_1_7}
              br
              br
              | #{page.helpdesk.help5_1_8}
              br
              br
              h3 #{page.helpdesk.help5_1_9}
              | #{page.helpdesk.help5_1_10}
              br
              br
              | #{page.helpdesk.help5_1_11}
              br
              br
              h3 #{page.helpdesk.help5_1_12}
              | #{page.helpdesk.help5_1_13}
              br
              br
              | #{page.helpdesk.help5_1_14}
              br
              br
              | #{page.helpdesk.help5_1_15}
              br
              br
              table
                tbody
                  tr
                    th.text-center #{page.helpdesk.help5_1_table_1}
                    th.text-center #{page.helpdesk.help5_1_table_2}
                    th.text-center #{page.helpdesk.help5_1_table_3}
                  tr
                    td.text-center #{page.helpdesk.help5_1_table_4}
                    td.text-center 04:00 AM
                    td.text-center 04:00 PM
                  tr
                    td.text-center #{page.helpdesk.help5_1_table_5}
                    td.text-center 01:00 PM
                    td.text-center 01:00 AM
                  tr
                    td.text-center #{page.helpdesk.help5_1_table_6}
                    td.text-center 08:00 AM
                    td.text-center 08:00 PM
                  tr
                    td.text-center #{page.helpdesk.help5_1_table_7}
                    td.text-center 04:00 PM
                    td.text-center 04:00 AM
                  tr
                    td.text-center #{page.helpdesk.help5_1_table_8}
                    td.text-center 03:00 PM
                    td.text-center 03:00 AM
                  tr
                    td.text-center #{page.helpdesk.help5_1_table_9}
                    td.text-center 12:00 AM
                    td.text-center 12:00 PM
                  tr
                    td.text-center #{page.helpdesk.help5_1_table_10}
                    td.text-center 08:00 PM
                    td.text-center 08:00 AM
                  tr
                    td.text-center #{page.helpdesk.help5_1_table_11}
                    td.text-center 05:00 AM
                    td.text-center 05:00 PM
                  tr
                    td(colspan='3')
                      | #{page.helpdesk.help5_1_table_12}
              | #{page.helpdesk.help5_1_16}
              br
              br
              | #{page.helpdesk.help5_1_17}
              br
              br
              h3 #{page.helpdesk.help5_1_18}
              | #{page.helpdesk.help5_1_19}
              br
              br
              | #{page.helpdesk.help5_1_20}
              br
              br
              | #{page.helpdesk.help5_1_21}
              br
              br
              | #{page.helpdesk.help5_1_22}
              br
              br
              | #{page.helpdesk.help5_1_23}
              br
              br
              h3 #{page.helpdesk.help5_1_24}
              | #{page.helpdesk.help5_1_25}
              br
              br
              | #{page.helpdesk.help5_1_26}
              br
              br
              h3 #{page.helpdesk.help5_1_27}
              | #{page.helpdesk.help5_1_28}
              br
              br
              | #{page.helpdesk.help5_1_29}
              br
              br
              h3 #{page.helpdesk.help5_1_30}
              | #{page.helpdesk.help5_1_31}
              br
              br
              | #{page.helpdesk.help5_1_32}
              br
              br
              | #{page.helpdesk.help5_1_33}
              br
              br
            a.back(href=`${link['/knowledge-base/'].url}`) ←back