block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.helpdesk}
    .page_wrap
      .page_container
        .title #{page.helpdesk.helpdesktitle}
        .content
          .help_view
            .help_title #{page.helpdesk.help1_1}
            .help_text 
              img(src="/images/help/1_1.jpg", alt="help")
              | #{page.helpdesk.help1_1_1}
              br
              br
              | #{page.helpdesk.help1_1_2}
              br
              br
              | #{page.helpdesk.help1_1_3}
              br
              br
              | #{page.helpdesk.help1_1_4}
              br
              | #{page.helpdesk.help1_1_5}
              br
              | #{page.helpdesk.help1_1_6}
              br
              img(src="/images/help/1_2.jpg", alt="help")
              | #{page.helpdesk.help1_1_7}
            a.back(href=`${link['/knowledge-base/'].url}`) ←back