block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.helpdesk}
    .page_wrap
      .page_container
        .title #{page.helpdesk.helpdesktitle}
        .content
          .help_view
            .help_title #{page.helpdesk.help5_3}
            .help_text 
              | #{page.helpdesk.help5_3_1}
              br
              br
              | #{page.helpdesk.help5_3_2}
              br
              br
              h3 #{page.helpdesk.help5_3_3}
              | #{page.helpdesk.help5_3_4}
              br
              | #{page.helpdesk.help5_3_5}
              br
              | #{page.helpdesk.help5_3_6}
              br
              | #{page.helpdesk.help5_3_7}
              br
              | #{page.helpdesk.help5_3_8}
              br
              | #{page.helpdesk.help5_3_9}
              br
              | #{page.helpdesk.help5_3_10}
              br
              | #{page.helpdesk.help5_3_11}
              br
              | #{page.helpdesk.help5_3_12}
              br
              br
              h3 #{page.helpdesk.help5_3_13}
              | #{page.helpdesk.help5_3_14}
              br
              br
              | #{page.helpdesk.help5_3_15}
              br
              | #{page.helpdesk.help5_3_16}
              br
              img.half_img(src="/images/help/5_1.jpg", alt="help")
              img.half_img(src="/images/help/5_2.jpg", alt="help")
              | #{page.helpdesk.help5_3_17}
              br
              br
            a.back(href=`${link['/knowledge-base/'].url}`) ←back