block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.helpdesk}
    .page_wrap
      .page_container
        .title #{page.helpdesk.helpdesktitle}
        .content
          .help_view
            .help_title #{page.helpdesk.help5_4}
            .help_text 
              | #{page.helpdesk.help5_4_1}
              br
              br
              h3 #{page.helpdesk.help5_4_2}
              | #{page.helpdesk.help5_4_3}
              br
              br
              | #{page.helpdesk.help5_4_4}
              br
              br
              h3 #{page.helpdesk.help5_4_5}
              | #{page.helpdesk.help5_4_6}
              br
              br
              h3 #{page.helpdesk.help5_4_7}
              | #{page.helpdesk.help5_4_8}
              br
              br
              | #{page.helpdesk.help5_4_9}
              br
              br
              h3 #{page.helpdesk.help5_4_10}
              | #{page.helpdesk.help5_4_11}
              br
              br
              | #{page.helpdesk.help5_4_12}
              br
              br
              h3 #{page.helpdesk.help5_4_13}
              | #{page.helpdesk.help5_4_14}
              br
              br
              | #{page.helpdesk.help5_4_15}
              br
              br
            a.back(href=`${link['/knowledge-base/'].url}`) ←back