block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.helpdesk}
    .page_wrap
      .page_container
        .title #{page.helpdesk.helpdesktitle}
        .content
          .help_view
            .help_title #{page.helpdesk.help1_2}
            .help_text 
              | #{page.helpdesk.help1_2_1}
              br
              br
              | #{page.helpdesk.help1_2_2}
              br
              | #{page.helpdesk.help1_2_3}
              br
              br
              br
              br
              | #{page.helpdesk.help1_2_4}
              br
              | #{page.helpdesk.help1_2_5}
              br
              br
              | #{page.helpdesk.help1_2_6}
              br
              | #{page.helpdesk.help1_2_7}
              br
              br
              | #{page.helpdesk.help1_2_8}
              br
              | #{page.helpdesk.help1_2_9}
              br
              br
              | #{page.helpdesk.help1_2_10}
              br
              | #{page.helpdesk.help1_2_11}
              br
              br
              | #{page.helpdesk.help1_2_12}
              br
              | #{page.helpdesk.help1_2_13}
              br
              br
              | #{page.helpdesk.help1_2_14}
              br
              | #{page.helpdesk.help1_2_15}
              br
              br
            a.back(href=`${link['/knowledge-base/'].url}`) ←back