block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.helpdesk}
    .page_wrap
      .page_container
        .title #{page.helpdesk.helpdesktitle}
        .content
          .help_view
            .help_title #{page.helpdesk.help5_2}
            .help_text 
              | #{page.helpdesk.help5_2_1}
              br
              br
              | #{page.helpdesk.help5_2_2}
              br
              br
              h3 #{page.helpdesk.help5_2_3}
              | #{page.helpdesk.help5_2_4}
              br
              br
              | #{page.helpdesk.help5_2_5}
              br
              br
              | #{page.helpdesk.help5_2_6}
              br
              br
              | #{page.helpdesk.help5_2_7}
              br
              br
              | #{page.helpdesk.help5_2_8}
              br
              br
              | #{page.helpdesk.help5_2_9}
              br
              br
              h3 #{page.helpdesk.help5_2_10}
              | #{page.helpdesk.help5_2_11}
              br
              br
              | #{page.helpdesk.help5_2_12}
              br
              br
              | #{page.helpdesk.help5_2_13}
              br
              br
              | #{page.helpdesk.help5_2_14}
              br
              br
              h3 #{page.helpdesk.help5_2_15}
              | #{page.helpdesk.help5_2_16}
              br
              br
              | #{page.helpdesk.help5_2_17}
              br
              br
              | #{page.helpdesk.help5_2_18}
              br
              br
              | #{page.helpdesk.help5_2_19}
              br
              br
              h3 #{page.helpdesk.help5_2_20}
              | #{page.helpdesk.help5_2_21}
              br
              br
              h3 #{page.helpdesk.help5_2_22}
              | #{page.helpdesk.help5_2_23}
              br
              br
              | #{page.helpdesk.help5_2_24}
              br
              br
              | #{page.helpdesk.help5_2_25}
              br
              br
              h3 #{page.helpdesk.help5_2_26}
              | #{page.helpdesk.help5_2_27}
              br
              br
              | #{page.helpdesk.help5_2_28}
              br
              br
              h3 #{page.helpdesk.help5_2_29}
              | #{page.helpdesk.help5_2_30}
              br
              br
              | #{page.helpdesk.help5_2_31}
              br
              br
              h3 #{page.helpdesk.help5_2_32}
              | #{page.helpdesk.help5_2_33}
              br
              br
              | #{page.helpdesk.help5_2_34}
              br
              br
              h3 #{page.helpdesk.help5_2_35}
              | #{page.helpdesk.help5_2_36}
              br
              br
            a.back(href=`${link['/knowledge-base/'].url}`) ←back
              