block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.helpdesk}
    .page_wrap
      .page_container
        .title #{page.helpdesk.helpdesktitle}
        .content
          .help_view
            .help_title #{page.helpdesk.help4_2}
            .help_text 
              | #{page.helpdesk.help4_1_1}
              a(href="https://account.zhanhuangintl.com/register" target="_blank") #{page.helpdesk.help4_1_2}
              | #{page.helpdesk.help4_1_3}
              br
              br
              | #{page.helpdesk.help4_1_4}
              img(src="/images/help/4_1.jpg", alt="help")
              | #{page.helpdesk.help4_1_5}
              br
              br
            a.back(href=`${link['/knowledge-base/'].url}`) ←back