block content
  .help_wrapper
    .title_banner
      b #{common.helpdesk.helpdesk}
    .page_wrap
      .page_container
        .title #{page.helpdesk.helpdesktitle}
        .content
          .help_view
            .help_title #{page.helpdesk.help2_4}
            .help_text 
              | #{page.helpdesk.help2_4_1}
              br
              br
            a.back(href=`${link['/knowledge-base/'].url}`) ←back