block content
  .market_wrapper
    .title_banner
      b #{common.markets.markets}
    .page_wrap
      ul.sidebar
        li
          a(href=`${link['/spot-metals-commodities/'].url}`) #{common.markets.spotmetalscommodities}
        li
          a(href=`${link['/spot-metals-commodities/spreads-and-specifications/'].url}`) #{common.markets.spreadsandspecifications}
        li
          a(href=`${link['/spot-metals-commodities/trade-indices/'].url}`) #{common.markets.tradeindices}
        li.active
          a(href=`${link['/spot-metals-commodities/forex/'].url}`) #{common.markets.forex}
      .page_container
        .title #{common.markets.forex}
        .content
          b #{page.markets.market4_1}
          P #{page.markets.market4_2}
          ul.forex
            li 
              img(src="/images/market/tradeindices_3.png", alt="tradeindices_3")
              h2  #{page.markets.market4_3}
              | #{page.markets.market4_4}
            li 
              img(src="/images/market/tradeindices_4.png", alt="tradeindices_4")
              h2  #{page.markets.market4_5}
              | #{page.markets.market4_6}
            li 
              img(src="/images/market/tradeindices_5.png", alt="tradeindices_5")
              h2  #{page.markets.market4_7}
              | #{page.markets.market4_8}
            li 
              img(src="/images/market/tradeindices_6.png", alt="tradeindices_6")
              h2  #{page.markets.market4_9}
              | #{page.markets.market4_10}
            a.member_btn(href="https://account.zhanhuangintl.com/register" target="_blank") #{common.membersignup}
            a.demo_btn(href="https://account.zhanhuangintl.com/register" target="_blank") #{common.demosignup}