block content
  .market_wrapper
    .title_banner
      b #{common.markets.markets}
    .page_wrap
      ul.sidebar
        li.active
          a(href=`${link['/spot-metals-commodities/'].url}`) #{common.markets.spotmetalscommodities}
        li
          a(href=`${link['/spot-metals-commodities/spreads-and-specifications/'].url}`) #{common.markets.spreadsandspecifications}
        li
          a(href=`${link['/spot-metals-commodities/trade-indices/'].url}`) #{common.markets.tradeindices}
        li
          a(href=`${link['/spot-metals-commodities/forex/'].url}`) #{common.markets.forex}
      .page_container
        .title #{common.markets.spotmetalscommodities}
        .content
          b #{page.markets.market1_1}
          P #{page.markets.market1_2}
          img(src="/images/market/1_1.jpg", alt="market")
          .tick #{page.markets.market1_3}
          .tick #{page.markets.market1_4}
          .tick #{page.markets.market1_5}
          .tick #{page.markets.market1_6}
          br
          br
          br
          b #{page.markets.market1_7}
          p #{page.markets.market1_8}
          img(src="/images/market/1_2.jpg", alt="market")
          .tick #{page.markets.market1_9}
          .tick #{page.markets.market1_10}
          .tick #{page.markets.market1_11}
          .tick #{page.markets.market1_12}