block content
  .market_wrapper
    .title_banner
      b #{common.markets.markets}
    .page_wrap
      ul.sidebar
        li
          a(href=`${link['/spot-metals-commodities/'].url}`) #{common.markets.spotmetalscommodities}
        li.active
          a(href=`${link['/spot-metals-commodities/spreads-and-specifications/'].url}`) #{common.markets.spreadsandspecifications}
        li
          a(href=`${link['/spot-metals-commodities/trade-indices/'].url}`) #{common.markets.tradeindices}
        li
          a(href=`${link['/spot-metals-commodities/forex/'].url}`) #{common.markets.forex}
      .page_container
        .title #{common.markets.spreadsandspecifications}
        .content
          P #{page.markets.market2_1}
          b #{page.markets.market2_2}
          img.half_img(src="/images/market/2_1.jpg", alt="market")
          img.half_img(src="/images/market/2_2.jpg", alt="market")
          br
          br
          b #{page.markets.market2_3}
          img(src="/images/market/2_3.jpg", alt="market")
          p #{page.markets.market2_4}
          a.member_btn(href="https://account.zhanhuangintl.com/register" target="_blank") #{common.membersignup}
          a.demo_btn(href="https://account.zhanhuangintl.com/register" target="_blank") #{common.demosignup}