block content
  .market_wrapper
    .title_banner
      b #{common.markets.markets}
    .page_wrap
      ul.sidebar
        li
          a(href=`${link['/spot-metals-commodities/'].url}`) #{common.markets.spotmetalscommodities}
        li
          a(href=`${link['/spot-metals-commodities/spreads-and-specifications/'].url}`) #{common.markets.spreadsandspecifications}
        li.active
          a(href=`${link['/spot-metals-commodities/trade-indices/'].url}`) #{common.markets.tradeindices}
        li
          a(href=`${link['/spot-metals-commodities/forex/'].url}`) #{common.markets.forex}
      .page_container
        .title #{common.markets.tradeindices}
        .content
          b #{page.markets.market3_1}
          P #{page.markets.market3_2}
          ul.tradeindices
            li 
              img(src="/images/market/tradeindices_1.png", alt="tradeindices_1")
              | #{page.markets.market3_3}
            li
              img(src="/images/market/tradeindices_2.png", alt="tradeindices_2")
              | #{page.markets.market3_4}
            .tradeindices_text #{page.markets.market3_5}
            a.member_btn(href="https://account.zhanhuangintl.com/register" target="_blank") #{common.membersignup}
            a.demo_btn(href="https://account.zhanhuangintl.com/register" target="_blank") #{common.demosignup}