block content
  .news_wrapper
    .title_banner
      b #{common.news.news}
    .page_wrap
      ul.sidebar
        li.active
          a(href=`${link['/economic-calendar/'].url}`) #{common.news.economiccalendar}
        li
          a(href=`${link['/economic-calendar/market-reports/'].url}`) #{common.news.marketreports}
        li
          a(href=`${link['/economic-calendar/technical-reports/'].url}`) #{common.news.technicalreports}
        li
          a(href=`${link['/technical-charts/'].url}`) #{common.news.technicalcharts}
      .page_container
        .title #{common.news.economiccalendar}
        .content
          iframe(src="https://rili-d.jin10.com/open.php", frameborder="0" scrolling="yes" width="100%" height="1800px")