block content
  .news_wrapper
    .title_banner
      b #{common.news.news}
    .page_wrap
      ul.sidebar
        li
          a(href=`${link['/economic-calendar/'].url}`) #{common.news.economiccalendar}
        li
          a(href=`${link['/economic-calendar/market-reports/'].url}`) #{common.news.marketreports}
        li.active
          a(href=`${link['/economic-calendar/technical-reports/'].url}`) #{common.news.technicalreports}
        li
          a(href=`${link['/technical-charts/'].url}`) #{common.news.technicalcharts}
      .page_container
        .title #{common.news.technicalreports}
        .content
          iframe(src="https://www.jin10.com/example/jin10.com.html?width=max&height=1800&theme=white&fontSize=14px&scrolling=yes&messageNum=20", frameborder="0" scrolling="yes" width="100%" height="1800px")