block content
  .news_wrapper
    .title_banner
      b #{common.news.news}
    .page_wrap
      ul.sidebar
        li
          a(href=`${link['/economic-calendar/'].url}`) #{common.news.economiccalendar}
        li
          a(href=`${link['/economic-calendar/market-reports/'].url}`) #{common.news.marketreports}
        li
          a(href=`${link['/economic-calendar/technical-reports/'].url}`) #{common.news.technicalreports}
        li.active
          a(href=`${link['/technical-charts/'].url}`) #{common.news.technicalcharts}
      .page_container
        .title #{common.news.technicalcharts}
        .content
          b #{page.news.news1}
          iframe(src="https://ssltsw.forexprostools.com?lang=6&forex=1,3,5,2,155,4,2186&commodities=8830,8836,8831,8833,8849,8862,8915&indices=179,172,27,23660,166,53094,170&stocks=352,350,334,345,346,347,348&tabs=1,2,3,4", frameborder="0" width="320px" height="450px")
          br
          br
          b #{page.news.news2}
          iframe.chart(src="https://ssltvc.forexprostools.com/?pair_ID=172&height=480&width=120%&interval=300&plotStyle=bars&domain_ID=6&lang_ID=6&timezone_ID=22", frameborder="0" height="550px")
          br
          br
          b #{page.news.news3}
          iframe.chart(src="https://ssltvc.forexprostools.com/?pair_ID=1070476&height=480&width=650&interval=300&plotStyle=heiken_ashi&domain_ID=6&lang_ID=6&timezone_ID=22", frameborder="0" height="550px")
          br
          br
          b #{page.news.news4}
          iframe(src="https://ssltools.forexprostools.com/pip-calculator/index.php?force_lang=6&acc=12", frameborder="0" width="570px" height="800px")
          br
          br
          b #{page.news.news5}
          iframe(src="https://ssltools.forexprostools.com/margin-calculator/index.php?force_lang=6&acc=12&pair=1", frameborder="0" width="440px" height="500px")

          