/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family:"Microsoft JhengHei","Lucida Grande", Helvetica, Arial, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset css */

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}

.input,
select,
textarea {
    font-family:"Microsoft JhengHei","Lucida Grande", Helvetica, Arial, sans-serif;
}

// 手機、網頁class切換 開始
.mob_view {
    display: none;  
}

@include breakpoint(pad, 768px) {
    .web_view {
        display: none !important;
    }
    .mob_view {
        display: block;
    }
}

.wrapper {
    padding-top: 121px;
}

@include breakpoint(pad, 768px) {
    .wrapper {
        padding-top: 63px;
    }
}

// header 開始
header {
    position: fixed;
    width: 100%;
    border-top: 5px solid $main_color;
    background-color: rgba(255,255,255,0.9);
    z-index: 99;
    .float_right {
        position: fixed;
        right: 0;
        top: 30%;
        background-color: rgba(0,0,0,0.8);
        padding: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        .wechat_content,
        .line_content,
        .email_content {
            text-align: right;
            > img {
                width: 30px;
                display: block;
                margin: 10px 0;
                cursor: pointer;
                display: inline-block;
                transition: .2s;
            }
            &:hover {
                img {
                    box-shadow: 0 0 0 2px #fff;
                    border-radius: 5px;
                }
            }
            .wechat_info,
            .line_info,
            .email_info {
                vertical-align: top;
                text-align: center;
                padding: 10px 0;
                display: none;
                color: #fff;
                width: 180px;
                position: relative;
                img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 88px;
                    top: 120%;
                }
            }
        }
        .wechat_content {
            &:hover {
                .wechat_info {
                    display: inline-block;
                }
            }
        }
        .line_content {
            &:hover {
                .line_info {
                    margin-top: -50px;
                    display: inline-block;
                }
            }
        }
        .email_content {
            font-size: 14px;
            p {
                padding-bottom: 10px;
            }
            .mail {
                font-size: 12px;
            }
            .contact_btn {
                width: 80%;
                background-color: $main_color_2;
                color: #fff;
                font-size: 18px;
                text-shadow: 0 1px 0 rgba(0,0,0,0.3);
                text-align: center;padding: 15px 0;
                border-radius: 5px;
                margin: 15px auto 0;
                display: block;
                text-decoration: none;
                &:hover {
                    background-color: $main_color_5;
                }
            }
            &:hover {
                .email_info {
                    margin-top: -100px;
                    display: inline-block;
                }
            }
        }
    }
    .header_wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        transition: .2s;
        .logo {
            position: absolute;
            left: 20px;
            transform: translate(0, -50%);
            top: 50%;
            width: 175px;
            height: 67px;
            background-image: url(/images/common/logo.png);
            background-repeat: no-repeat;
            background-size: 100%;
            transition: .2s;
        }
        .header_account,
        .header_nav {
            padding: 0 20px;
            box-sizing: border-box;
            display: flex;
            justify-content:flex-end;
        }
        .header_account {
            padding-top: 20px;
            .mob_footer {
                display: inline-flex;
            }
            .manager_login,
            .member_login,
            .member_signup {
                position: relative;
                overflow: hidden;
                border-radius: 30px;
                box-sizing: border-box;
                margin-right: 10px;
                text-decoration: none;
                font-size: 15px;
                line-height: 22px;
                justify-content: center;
                display: flex;
                padding: 8px 20px;
                transition: .2s;
                img {
                    height: 20px;
                    margin-right: 10px;
                }
                &:hover {
                    color: #fff;
                    img {
                        position: relative;
                        left: -50px;
                        transform: translate(0, 0);
                        filter:drop-shadow(50px 0 0 #fff);
                    }
                }
            }
            .member_login {
                border: 1px solid $main_color;
                color: $main_color;
                background-color: #fff;
                &:hover {
                    background-color: $main_color;
                }

            }
            .manager_login {
                border: 1px solid $manager_green;
                color: $manager_green;
                background-color: #fff;
                &:hover {
                    background-color: $manager_green;
                }
            }
            .member_signup {
                background-color: $main_color;
                color: #fff;
                &:hover {
                    background-color: $main_color_2;
                }
            }
            .lang_link {
                box-sizing: border-box;
                padding: 8px;
                border: 1px solid #bfbfbf;
                background-color: #fff;
                color: #7d7d7d;
                border-radius: 30px;
                position: relative;
                transition: .2s;
                &:hover {
                    border-radius: 0;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    .dropdown_lang {
                        display: block;
                    }
                }
                .lang_img {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    img {
                        width: 100%;
                        height: 100%;
                        vertical-align: top;
                    }
                }
                .lang_text {
                    position: relative;
                    vertical-align: middle;
                    display: inline-block;
                    padding: 0 15px 0 5px;
                    font-size: 16px;
                    &:after {
                        content: "";
                        position: absolute;
                        transform: translate(0, -50%);
                        right: 2px;
                        top: 50%;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 5px 0 5px;
                        border-color: #e6e6e6 transparent transparent transparent;
                    }
                }
                .dropdown_lang {
                    display: none;
                    position: absolute;
                    z-index: 3;
                    width: 100%;
                    top: 97%;
                    left: -1px;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    border: 1px solid #bfbfbf;
                    border-top: 0;
                    padding-bottom: 10px;
                    background-color: #fff;
                    line-height: 35px;
                    li {
                        box-sizing: border-box;
                        padding: 0 8px;
                        text-align: left;
                        cursor: pointer;
                        &:hover {
                            transition: .2s;
                            background-color: $main_color;
                            color: #fff;
                        }
                    }
                    .lang_text {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            .mob_menu {
                display: none;
            }
        }
        .header_nav {
            .mob_lang {
                display: none;
            }
            >ul {
                >li {
                    transition: .2s;
                    position: relative;
                    padding: 20px 17px;
                    font-size: 16px;
                    color: #626262;
                    display: inline-block;
                    cursor: pointer;
                    > a {
                        display: block;
                        color: #626262;
                        text-decoration: none;
                        &:hover {
                            color: #002e5b;
                        }
                    }
                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        right: 0;
                        height: 20px;
                        transform: translate(0, -50%);
                        top: 50%;
                        border-right: 2px solid #e4e4e4;
                    }
                    &:hover {
                        color: #002e5b;
                        .sub_nav{
                            display: block;
                        }
                    }
                    .sub_nav {
                        z-index: 2;
                        position: absolute;
                        left: -50%;
                        right: -50%;
                        margin: auto;
                        border-radius: 5px;
                        top: 90%;
                        width: 150px;
                        display: none;
                        padding: 0 10px 5px;
                        background-color: rgba(0,0,0,0.8);
                        &:after {
                            content: "";
                            position: absolute;
                            top: -9px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 6.5px 9px 6.5px;
                            border-color: transparent transparent rgba(0,0,0,0.8) transparent;
                        }
                        li {
                            a {
                                padding: 20px 0;
                                text-align: center;
                                display: block;
                                font-size: 13px;
                                text-decoration: none;
                                color: #fff;
                                border-bottom: 1px solid rgba(255,255,255,0.3);
                                &:hover {
                                    color: $main_color_6;
                                    border-bottom: 1px solid rgba(0,160,233,0.3);
                                }
                            }
                            &:last-child {
                                a {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.change_height {
            .logo {
                width: 130px;
                height: 50px;
            }
            .header_account {
                padding-top: 10px;
                .manager_login,
                .member_login,
                .member_signup {
                    padding: 5px 20px;
                    font-size: 13px;
                    line-height: 20px;
                }
                .lang_link {
                    padding: 5px 8px;
                    font-size: 13px;
                    line-height: 20px;
                }
            }
            .header_nav {
                >ul {
                    >li {
                        padding: 15px 17px;
                    }
                }
            }
        }
    }
    
    @include breakpoint(pad, 768px) {
        .float_right {
            display: none;
        }
        .header_wrapper,
        .header_wrapper.change_height {
            .logo {
                width: 88px;
                height: 34px;
            }
            .header_account {
                padding: 10px 0;
                .lang_link {
                    display: none;
                }
                .mob_footer {
                    z-index: 99;
                    width: 100%;
                    position: fixed;
                    bottom: 0;
                    background-color: rgba(0,28,55,0.9);
                    padding: 10px;
                    box-sizing: border-box;
                    .manager_login,
                    .member_login {
                        padding: 10px 0;
                        width: 46%;
                        max-width: 300px;
                        margin: 0 auto;
                        line-height: 22px;
                        font-size: 15px;
                    }
                }
                .member_signup {
                    padding: 8px 20px;
                    line-height: 22px;
                    font-size: 15px;
                    margin-right: 20px;
                }
                .mob_menu {
                    display: block;
                    height: 38px;
                    margin-right: 20px;
                    img {
                        height: 100%;
                    }
                }
            }
            .header_nav {
                transition: .2s;
                z-index: 999;
                background-color: $main_color;
                position: fixed;
                top: 63px;
                width: 100%;
                height: 0;
                overflow: hidden;
                padding: 0;
                opacity: 0;
                justify-content:flex-start;
                .mob_lang {
                    display: block;
                }
                &.open {
                    height: 100%;
                    opacity: 1;
                }
                >ul {
                    width: 100%;
                    >li {
                        width: 100%;
                        color: #fff;
                        box-sizing: border-box;
                        padding: 20px 17px;
                        border-bottom: 1px solid rgba(255,255,255,0.3);
                        a {
                            color: #fff;
                            &:hover {
                                color: #fff;
                            }
                        }
                        &:after {
                            display: none;
                        }
                        &:hover {
                            color: #fff;
                            .sub_nav {
                                display: none;
                            }
                        }
                        .sub_nav {
                            display: none;
                            transition: .2s;
                            position: relative;
                            margin-left: -5%;
                            width: 110%;
                            background-color: rgba(0,0,0,0.3);
                            left: 0;
                            right: 0;
                            top: 0;
                            padding: 0;
                            margin-top: 20px;
                            margin-bottom: -22px;
                            &:after {
                                display: none;
                            }
                        }
                        &.open {
                            .sub_nav {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

// footer 開始
footer {
    width: 100%;
    background-image: url(/images/common/footer_bg.jpg);
    background-size: cover;
    background-color: $main_color;
    .footer_wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 30px 20px ;
        text-align: center;
        h1 {
            color: $main_color_4;
            font-size: 36px;
        }
        .partner {
            padding: 30px 0 40px;
            width: 100%;
            text-align: center;
            border-bottom: 1px solid rgba(255,255,255,0.4);
            li {
                display: inline-block;
                border-right: 1px solid rgba(255, 255, 255, 0.3);
                text-align: center;
                height: 30px;
                img {
                    height: 100%;
                }
                &:last-child {
                    border-right: none;
                }
                &:nth-child(1) {
                    width: 12%;
                }
                &:nth-child(2) {
                    width: 10%;
                }
                &:nth-child(3) {
                    width: 21%;
                }
                &:nth-child(4) {
                    width: 18%;
                }
                &:nth-child(5) {
                    width: 17%;
                }
                &:nth-child(6) {
                    width: 21%;
                }
            }
        }
        .web_map,
        .about_information {
            width: 100%;
            padding: 30px 0 40px;
            border-bottom: 1px solid rgba(255,255,255,0.4);
            text-align: center;
            >li {
                text-align: left;
                width: 20%;
                color: $main_color_4;
                font-weight: bold;
                font-size: 21px;
                padding-right: 10px;
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                ul {
                    padding-top: 10px;
                    li {
                        padding-bottom: 5px;
                        a {
                            color: #fff;
                            font-size: 14px;
                            font-weight: normal;
                            text-decoration: none;
                            &:hover {
                                opacity: 0.9;
                            }
                        }
                    }
                }
                
            }
        }
        .about_information {
            text-align: left;
            border: none;
            >li {
                width: 33%;
                ul {
                    li {
                        b, span {
                            color: #fff;
                            font-size: 14px;
                        }
                        span {
                            font-weight: normal;
                        }
                    }
                }
            }
            .disclaimer {
                width: 100%;
            }
        }
        .regulatory {
            font-size: 21px;
            display: inline-block;
            vertical-align: top;
            color: $main_color_4;
            width: 20%;
            text-align: left;
            font-weight: bold;
            padding-right: 3%;
            box-sizing: border-box;
            border-right: 1px solid rgba(2555,255,255,0.3);
            img {
                height: 35px;
                padding: 20px 0 15px;
                display: block;
            }
            a {
                color: #fff;
                display: block;
                text-decoration: none;
                font-size: 18px;
                font-weight: normal;
                padding-bottom: 10px;
                &:hover {
                    color: $main_color_4;
                }
            }
        }
        .contact_info {
            width: 80%;
            padding-left: 5%;
            box-sizing: border-box;
            height: 100px;
            display: inline-block;
            vertical-align: top;
            text-align: left;
            .line_qrcode,
            .wechat_qrcode {
                display: inline-block;
                vertical-align: top;
                margin-right: 30px;
                color: #fff;
                text-align: center;
                img {
                    height: 120px;
                    margin-bottom: 10px;
                    display: block;
                }
            }
            .information {
                display: inline-block;
                vertical-align: top;
                text-align: left;
                max-width: 570px;
                width: 30vw;
                b {
                    font-size: 21px;
                    color: $main_color_4;
                }
                p {
                    padding-top: 10px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #fff;
                }
            }
        }
    }
    .copyright_wrapper {
        margin-top: 30px;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        padding: 20px 0;
        .copyright {
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;
            padding: 0 20px;
            box-sizing: border-box;
            text-align: left;
            color: #bfbfbf;
            font-size: 14px;
            position: relative;
            a,
            span {
                padding: 0 15px;
                border-right: 1px solid #bfbfbf;
                &:nth-child(5),
                &:last-child {
                    border-right: none;
                }
            }
            span {
                &:first-child {
                    padding-left: 0;
                }
            }
            a {
                display: inline-block;
                color: #bfbfbf;
                text-decoration: none;
                &:hover {
                    color: $main_color_4;
                }
            }
            #siteseal {
                position: absolute;
                right: 0;
                transform: translate(0, -50%);
                top: 50%;
            }
        }
    }
    @include breakpoint(pad, 768px) {
        background-image: none;
        .footer_wrapper {
            .partner {
                padding: 40px 0 30px;
                li {
                    width: 33% !important;
                    text-align: left;
                    border: none;
                    padding: 10px 0;
                    img {
                        height: 20px;
                    }
                }
            }
            .web_map,
            .about_information {
                text-align: left;
                padding: 30px 0 0;
                >li {
                    width: 50%;
                    margin-bottom: 40px;
                }
                .map {
                    width: 100%;
                }
            }
            .regulatory {
                width: 100%;
                border-right: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                img {
                    margin: 0 auto;
                }
                a {
                    text-align: center;
                }
            }
            .contact_info {
                padding: 0;
                width: 100%;
                height: auto;
                padding: 30px 0 0;
                text-align: center;
                .line_qrcode,
                .wechat_qrcode {
                    width: 40%;
                    margin: 0 4%;
                    img {
                        width: 100%;
                        max-width: 150px;
                        height: auto;
                        margin: 0 auto 20px;
                    }
                }
                .information {
                    width: 100%;
                    max-width: 100%;
                    margin-top: 40px;
                }
            }
        }
        .copyright_wrapper {
            .copyright {
                padding-bottom:80px ;
                span {
                    line-height: 40px;
                }
                #siteseal {
                    bottom: 45px;
                    transform:none;
                    top: auto;
                }
            }
        }
    }
}

// 內頁 開始
.title_banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    font-size: 60px;
    text-align: center;
    padding: 100px 0;
    width: 100%;
}
.page_wrap {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    min-height: 200px;
    position: relative;
    .sidebar {
        position: absolute;
        width: 200px;
        text-align: right;
        border-right: 1px solid #c9c9c9;
        left: 0;
        top: 0;
        li {
            &:hover,
            &.active {
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                background: linear-gradient(to right,#e5f1fb 0%,#e5f1fb 98%,#0066b5 99%,$main_color_2 100%);
                a {
                    color: $main_color_2;
                }
            }
            a {
                padding: 15px 30px 15px 0;
                display: block;
                text-decoration: none;
                font-size: 16px;
                color: #313131;
            }
        }
    }
    .page_container {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding-left:250px ;
        .title {
            color: $main_color_2;
            width: 100%;
            text-align: left;
            font-size: 36px;
            padding-bottom: 15px;
            border-bottom: 1px solid #c9c9c9;
        }
        .content {
            padding: 30px 0;
            img {
                max-width: 100%;
                margin-bottom: 20px;
            }
            p {
                font-size: 16px;
                color: #434343;
                padding-bottom: 20px;
                line-height: 22px;
            }
            b {
                font-size: 30px;
                font-weight: bold;
                color: #434343;
                padding-bottom: 20px;
                display: block;
            }
            .text_center {
                width: 100%;
                text-align: center;
                padding-bottom: 5px;
                display: block;
            }
        }
    }
}
@include breakpoint(pad, 768px) {
    .title_banner {
        font-size: 48px;
        padding: 50px 0;
    }
    .page_wrap {
        margin: 0 auto 30px;
        .sidebar-container {
            height: 50px;
            border-bottom: 1px solid #c9c9c9;
        }
        .sidebar {
            width: 100%;
            border-right: 0;
            text-align: left;
            white-space: nowrap;
            border-bottom: 1px solid #ccc;
            overflow: auto;
            li {
                position: relative;
                display: inline-block;
                width: auto;
                &:hover,
                &.active {
                    border-radius: 0;
                    background: linear-gradient(to bottom,#e5f1fb 0%,#e5f1fb 90%,#0066b5 91%,$main_color_2 100%);
                }
                &:after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    right: 0;
                    height: 60%;
                    border-right: 1px solid #dcdcdc;
                    transform: translate(0, -50%);
                    top: 50%;
                }
                a {
                    padding: 15px;
                }
                &:last-child {
                    &:after {
                        border: none;
                    }
                }
            }
        }
        .page_container {
            padding: 80px 20px 0;
            .title {
                border-bottom: 0;
                font-size: 24px;
            }
            .content {
                padding: 0;
                p {
                    font-size: 14px;
                }
                b {
                    font-size: 20px;
                }
            }
        }
    }
}

// 關於我們 開始
.aboutus_wrapper {
    .title_banner {
        background-image: url(/images/banner/bg_aboutus.jpg);
    }
    .advantage_content {
        width: 100%;
        box-sizing: border-box;
        padding: 40px 40px 80px 40px;
        background-image: url(/images/aboutus/advantage_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        position: relative;
        .logo {
            filter:grayscale(1);
            opacity: 0.5;
        }
        h3 {
            color: #fff;
            font-size: 18px;
            line-height: 25px;
            text-align: left;
            margin-bottom: 40px;
            span {
                color: $main_color_5;
            }
        }
        ul {
            li {
                position: relative;
                padding: 5px 5px 10px 20px;
                color: #fff;
                font-size: 16px;
                &:after {
                    content: "✔";
                    color: $main_color_5;
                    position: absolute;
                    left: 0px;
                    top: 5px;
                }
            }
        }
        .get_advantage {
            background-color: $main_color_2;
            padding: 10px 7%;
            text-align: center;
            color: #fff;
            display: inline-block;
            border-radius: 50px;
            text-decoration: none;
            position: absolute;
            top:93%;
            h2 {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            h4 {
                font-size: 18px;
            }
        }
    } 
    .news_list {
        position: relative;
        padding: 30px 40px;
        border: 1px solid #c9c9c9;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        text-decoration: none;
        display: block;
        margin-bottom: 40px;
        &:after {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            left: -1px;
            top: -1px;
            border-top: 5px solid $main_color_2;
            border-left: 5px solid $main_color_2;
        }
        &:before {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            right: -1px;
            bottom: -1px;
            border-bottom: 5px solid $main_color_2;
            border-right: 5px solid $main_color_2;
        }
        &:hover {
            opacity: 0.9;
            &:after,
            &:before {
                border-color: $main_color_5;
            }
        }
        .news_date {
            font-size: 14px;
            color: $main_color_2;
            padding-bottom: 20px;
        }
        .news_title {
            font-size: 30px;
            color: #434343;
            font-weight: bold;
            display: inline;
            background: linear-gradient(to top,#e5f1fb 0,#e5f1fb 40%,#fff 41%,#fff 100%);
        }
        .news_text {
            font-size: 14px;
            color: #535353;
            padding: 30px 0 0;
        }
    }
    .news_view {
        .news_date {
            font-size: 14px;
            color: $main_color_2;
            padding-bottom: 20px;
        }
        .news_title {
            font-size: 30px;
            color: #434343;
            font-weight: bold;
        }
        .news_text {
            font-size: 16px;
            color: #434343;
            padding: 30px 0 0;
        }
        .back {
            font-size: 16px;
            padding: 10px 20px;
            border-radius: 5px;
            border: 2px solid #eeeeee;
            text-decoration: none;
            margin: 20px 0;
            display: inline-block;
            color: #626262;
        }
    }
    @include breakpoint(pad, 768px) {
        .advantage_content {
            margin-bottom: 50px;
            padding: 30px 20px 80px 20px;
            ul {
                li {
                    font-size: 14px;
                }
            }
            .get_advantage {
                left: 20px;
                right: 20px;
                margin: auto;
                h2 {
                    font-size: 20px;
                }
                h4 {
                    font-size: 14px;
                }
            }
        }
        .news_list {
            padding: 20px 30px;
            .news_date {
                font-size: 12px;
                padding-bottom: 10px;
            }
            .news_title {
                font-size: 20px;
            }
            .news_text {
                font-size: 14px;
                padding-top: 20px;
                line-height: 18px;
            }
        }
        .news_view {
            .news_date {
                font-size: 12px;
            }
            .news_title {
                font-size: 20px;
            }
            .news_text {
                font-size: 14px;
            }
        }
    }
}

// 條款開始
.terms_wrapper {
    .title_banner {
        background-image: url(/images/banner/bg_terms.jpg);
    }
    .page_wrap {
        .page_container {
            padding: 0 20px;
            box-sizing: border-box;
            .title {
                text-align: center;
            }
            b {
                font-size: 30px;
                font-weight: bold;
                color: #434343;
                padding: 10px 0;
                line-height: 1.2;
            }
            p {
                color: #434343;
                font-size: 16px;
                padding-bottom: 20px;
                span {
                    font-size: 16px;
                    color: $main_color_2;
                }
            }
            h5 {
                color: #434343;
                font-size: 16px;
                line-height: 24px;
            }
            ul {
                padding-bottom: 20px;
                li {
                    font-size: 16px;
                    line-height: 28px;
                    color: #434343;
                    list-style-type: disc;
                    margin: 0;
                    margin-left: 20px;
                }
            }
        }
    }
    @include breakpoint(pad, 768px) {
        .page_wrap {
            .page_container {
                padding: 20px;
                .title {
                    text-align: left;
                    padding-bottom: 10px;
                }
                b {
                    font-size: 20px;
                    padding: 10px 0 0;
                }
                p {
                    font-size: 14px;
                    line-height: 19px;
                }
                h5 {
                    font-size: 14px;
                    line-height: 19px;
                }
                ul {
                    padding-bottom: 20px;
                    li {
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}

// 開立帳戶開始
.openaccount_wrapper {
    .title_banner {
        background-image: url(/images/banner/bg_openaccount.jpg);
    }
    .account_step {
        margin-top: 50px;
        li {
            position: relative;
            width: 100%;
            max-width: 425px;
            background-color: #30373f;
            border-radius: 10px;
            padding: 50px 20px 30px 20px;
            box-sizing: border-box;
            text-align: center;
            margin-bottom: 100px;
            .step_icon {
                position: absolute;
                width: 72px;
                height: 72px;
                background-color: $main_color_5;
                border-radius: 50%;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                bottom: 75%;
                &:after {
                    content: "";
                    position: absolute;
                    width: 115%;
                    height: 115%;
                    background-color: rgba($main_color_5,0.3);
                    left: -50%;
                    right: -50%;
                    transform: translate(0, -50%);
                    top: 50%;
                    margin: auto;
                    border-radius: 50%;
                }
                img {
                    width: 40px;
                    height: 40px;
                    padding: 16px;
                }
            }
            .step_no {
                color: $main_color_5;
                font-size: 14px;
                b {
                    display: inline-block;
                    color: $main_color_5;
                    font-size: 24px;
                    padding-left: 5px;
                }
            }
            .step_text {
                font-size: 18px;
                color: #fff;
            }
            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
            &:before {
                top: 110%;
                background-color: rgba($main_color_5,0.8);
            }
            &:after {
                top: 125%;
                background-color: $main_color_5;
            }
            &:last-child {
                margin-bottom: 60px;
            }
        }
    }
    .open_btn {
        text-decoration: none;
        box-sizing: border-box;
        display: block;
        width: 100%;
        max-width: 425px;
        background-color: $main_color_2;
        text-align: center;
        padding: 30px;
        border-radius: 50px;
        color: #fff;
    }
    .vip_card,
    .mini_card {
        display: inline-block;
        width: 100%;
        max-width: 48%;
        margin-right: 4%;
        padding:40px 0;
        border-radius: 10px;
        box-sizing: border-box;
        text-align: center;
        vertical-align: top;
        background-color: #30373f;
        position: relative;
        z-index: 0;
        overflow: hidden;
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.5);
        &:before {
            content: "";
            position: absolute;
            right: 10px;
            top: 10px;
            width: 52px;
            height: 57px;
            background-image: url(/images/openaccount/vip_logo.png);
            background-repeat: no-repeat;
            background-size: 100%;
            z-index: 1;
        }
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            transform: rotate(30deg);
            background: linear-gradient(to top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.07) 100%);
            position: absolute;
            left: -50%;
            top: -50%;
            z-index: 1;
        }
        .card_icon {
            width: 93px;
        }
        .card_name {
            font-size: 24px;
            color: #fff;
            padding-bottom: 10px;
        }
        .card_slogan {
            color: $main_color_5;
            font-size: 18px;
            width: 100%;
            text-align: center;
            padding: 10px 0;
            background-color: rgba(0,0,0,0.2);
        }
        .card_money {
            font-size: 48px;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            width: 100%;
            background-color: rgba(255,255,255,0.1);
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            span {
                font-size: 18px;
                padding-left: 10px;
                vertical-align: middle;
            }
        }
        .card_list {
            padding: 20px;
            li {
                position: relative;
                padding: 5px 5px 10px 20px;
                color: #fff;
                font-size: 16px;
                text-align: left;
                &:after {
                    content: "✔";
                    color: $main_color_5;
                    position: absolute;
                    left: 0px;
                    top: 5px;
                }
            }
        }
        .cashin_btn {
            width: 100%;
            max-width: 300px;
            padding: 20px 0;
            background-color: $main_color_5;
            border-bottom: 10px solid #994b27;
            margin: 0 auto;
            border-radius: 50px;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 28px;
            display: block;
            text-shadow: 0 1px 1px rgba(0,0,0,0.3);
        }
    }
    .mini_card {
        background-color: #fff;
        margin-right: 0;
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
        &:before {
            background-image: url(/images/openaccount/mini_logo.png);
        }
        &:after {
            display: none;
        }
        .card_icon {
            width: 75px;
        }
        .card_name {
            color: #30373f;
        }
        .card_slogan {
            color: $main_color_6;
            background-color: rgba($main_color_6, 0.05);
        }
        .card_money {
            color: $main_color_6;
            background-color: rgba($main_color_6, 0.15);
            span {
                font-size: 18px;
                padding-left: 10px;
                vertical-align: middle;
            }
        }
        .card_list {
            padding: 20px;
            li {
                color: #30373f;
                &:after {
                    color: $main_color_6;
                }
            }
        }
        .cashin_btn {
            background-color: $main_color_6;
            border-bottom: 10px solid #0073a8;
        }
    }
    .deposit_card,
    .withdrawal_card {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 48%;
        margin-right: 4%;
        margin-bottom: 80px;
        padding:30px 0 60px;
        border-radius: 10px;
        box-sizing: border-box;
        text-align: center;
        vertical-align: top;
        background-image: url(/images/openaccount/black_bg.jpg);
        .deposit_name,
        .withdrawal_name {
            font-size: 24px;
            color: #fff;
            span {
                color: $main_color_5;
            }
        }
        .deposit_btn,
        .withdrawal_btn {
            position: absolute;
            padding: 20px 0;
            width: 70%;
            left: 0;
            right: 0;
            top: 85%;
            margin: auto;
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            border-radius: 10px;
            text-shadow: 0 1px 1px rgba(0,0,0,0.5);
            background-color: $main_color_5;
            text-decoration: none;
            z-index: 1;
            &:after {
                content: "";
                position: absolute;
                width: 104.5%;
                height: 115%;
                background-color: rgba($main_color_5,0.3);
                left: -50%;
                right: -50%;
                transform: translate(0, -50%);
                top: 50%;
                margin: auto;
                border-radius: 13px;
                z-index: -1;
            }
        }
    }
    .deposit_card {
        &:nth-child(2) {
            margin-right: 0;
        }
    }
    .withdrawal_card {
        &:nth-child(4) {
            margin-right: 0;
        }
        .withdrawal_text {
            color: #fff;
            font-size: 14px;
            padding: 20px 0 10px;
        }
    }
    p {
        a {
            text-decoration: none;
            color: $main_color_2;
        }
    }
    h5 {
        font-size: 16px;
        line-height: 25px;
        color: #434343;
    }
    @include breakpoint(pad, 768px) {
        .vip_card,
        .mini_card {
            max-width: 500px;
            margin-bottom: 40px;
        }
        .deposit_card,
        .withdrawal_card {
            max-width: 500px;
            margin-bottom: 80px;
        }
        h5 {
            font-size: 14px;
        }
    }
}

.help_wrapper {
    .title_banner {
        background-image: url(/images/banner/bg_help.jpg);
    }
    .page_wrap {
        .page_container {
            padding: 0 20px;
            box-sizing: border-box;
            .title {
                text-align: center;
            }
            .help_lists {
                li {
                    width: 100%;
                    max-width: 800px;
                    background-color: #30373f;
                    margin: 0 auto 40px;
                    background-image: url(/images/help/help_lists_bg.png);
                    background-repeat: no-repeat;
                    background-position: 100% 0;
                    border-radius: 10px;
                    box-shadow: 10px 10px 0 rgba(0,0,0,0.2);
                    .help_title {
                        width: 100%;
                        padding: 20px 40px;
                        box-sizing: border-box;
                        color: $main_color_5;
                        font-size: 24px;
                        background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
                    }
                    .help_search {
                        padding: 25px 40px;
                        input {
                            width: 180px;
                            height: 40px;
                            border-radius: 5px;
                            background-color: #454b53;
                            border: 1px solid #6f7379;
                            color: #fff;
                            padding: 0 15px;
                            box-sizing: border-box;
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: top;
                        }
                        button {
                            width: 50px;
                            height: 40px;
                            background-color: $main_color_5;
                            display: inline-block;
                            vertical-align: top;
                            border: 0;
                            outline: 0;
                            border-radius: 5px;
                            text-align: center;
                            img {
                                width: 26px;
                                margin: 0;
                                padding: 5px 0;
                            }
                        }
                    }
                    .search_results {
                        font-size: 16px;
                        color: #a0a0a0;
                        padding: 0 40px;
                        span {
                            color: #fff;
                            padding-right: 5px;
                        }
                    }
                    .help_item {
                        padding: 25px 40px;
                        a {
                            display: block;
                            text-decoration: none;
                            font-size: 16px;
                            color: #fff;
                            padding-bottom: 15px;
                            line-height: 20px;
                            &:hover {
                                color: $main_color_5;
                            }
                        }
                    }
                }
            }
            .help_view {
                text-align: left;
                .help_title {
                    font-size: 30px;
                    color: #434343;
                    font-weight: bold;
                    padding-top: 10px;
                }
                .help_text {
                    font-size: 16px;
                    color: #434343;
                    padding: 30px 0 0;
                    line-height: 26px;
                    img {
                        max-width: 100%;
                        margin: 20px 0;
                        display: block;
                        border: 5px solid #eeeeee;
                        border-radius: 5px;
                    }
                    h3 {
                        font-size: 21px;
                        font-weight: bold;
                        line-height: 30px;
                    }
                    a {
                        text-decoration: none;
                        color: $main_color_2;
                    }
                    table {
                        width: 100%;
                        margin: 0 0 15px 0;
                        border: 1px solid #eee;
                        text-align: left;
                        tr {
                            max-width: 100%;
                            padding: .857em .587em;
                            th {
                                max-width: 100%;
                                padding: .857em .587em;
                                color: #555;
                                font-weight: 700;
                            }
                            td {
                                border-top: 1px solid #eee;
                                max-width: 100%;
                                padding: .857em .587em;
                            }
                        }
                    }
                    .half_img {
                        width: 50%;
                        display: inline-block;
                        vertical-align: top;
                        height: 770px;
                        border: 0;
                        border-radius: 0;
                    }
                }
                .back {
                    font-size: 16px;
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: 2px solid #eeeeee;
                    text-decoration: none;
                    margin: 20px 0;
                    display: inline-block;
                    color: #626262;
                }
            }
            .contact_form_content {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                b {
                    font-size: 30px;
                    width: 100%;
                    text-align: center;
                    color: #434343;
                }
                .contact_form {
                    width: 100%;
                    max-width: 740px;
                    padding: 40px;
                    box-sizing: border-box;
                    background-color: #eeeeee;
                    border-radius: 10px;
                    margin: 10px auto;
                    input,
                    select {
                        width: 99.5%;
                        height: 60px;
                        box-sizing: border-box;
                        padding: 10px;
                        border: 1px solid #c9c9c9;
                        margin-bottom: 10px;
                        border-radius: 3px;
                        &:nth-child(2),
                        &:nth-child(6) {
                            margin-right: 3%;
                        }
                        &:nth-child(2),
                        &:nth-child(4),
                        &:nth-child(6),
                        &:nth-child(8) {
                            width: 48%;
                        }
                    }
                    textarea {
                        width: 99.5%;
                        border: 1px solid #c9c9c9;
                        margin-bottom: 10px;
                        border-radius: 3px;
                        box-sizing: border-box;
                        padding: 10px;
                    }
                    .submit_btn {
                        width: 100%;
                        border: 0;
                        height: 60px;
                        color: #fff;
                        padding: 0;
                        background-color: $main_color;
                        font-size: 26px;
                        text-shadow: 0 2px 0 #000;
                        font-family:"Microsoft JhengHei","Lucida Grande", Helvetica, Arial, sans-serif;
                        border-radius: 5px;
                        cursor: pointer;
                        &:hover {
                            opacity: 0.9;
                        }
                    }
                    .captcha_input {
                        position: relative;
                        margin-bottom: 10px;
                        input {
                            margin-bottom: 0;
                        }
                        .captcha_code {
                            transform: translate(0, -50%);
                            top: 50%;
                            position: absolute;
                            right: 20px;
                            img {
                                margin: 0;
                            }
                        }
                    }
                }
                .qrcode_box {
                    width: 100%;
                    max-width: 740px;
                    margin: 50px auto 0;
                    li {
                        display: inline-block;
                        width: 40%;
                        max-width: 200px;
                        margin: 0 5%;
                        text-align: center;
                        font-size: 30px;
                        color: #434343;
                        span {
                            font-size: 20px;
                            display: block;
                        }
                        img {
                            display: block;
                            width: 100%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(pad, 768px) {
        .page_wrap {
            .page_container {
                padding: 20px;
                .title {
                    text-align: left;
                    padding-bottom: 10px;
                }
                .help_lists {
                    li {
                        box-shadow: 0 10px 0 rgba(0,0,0,0.2);
                        .help_title,
                        .help_search,
                        .help_item {
                            padding: 20px;
                        }
                        .search_results {
                            padding: 0 20px;
                        }
                    }
                }
                .contact_form_content {
                    b {
                        font-size: 20px;
                    }
                    .contact_form {
                        padding: 20px;
                        input,
                        select {
                            width: 100%;
                            &:nth-child(2),
                            &:nth-child(6) {
                                margin-right: 0;
                            }
                            &:nth-child(2),
                            &:nth-child(4),
                            &:nth-child(6),
                            &:nth-child(8) {
                                width: 100%;
                            }
                        }
                        textarea {
                            width: 100%;
                        }
                    }
                }
                .half_img {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
    }
}

.market_wrapper {
    .title_banner {
        background-image: url(/images/banner/bg_market.jpg);
    }
    .page_wrap {
        .page_container {
            .content {
                .tick {
                    font-size: 16px;
                    padding:0 20px 10px;
                    position: relative;
                    &:before {
                        content: "✔";
                        position: absolute;
                        color: $main_color_2;
                        left: 0;
                        top: 0;
                    }
                }
                .half_img {
                    width: 50%;
                    display: inline-block;
                    vertical-align: top;
                    height: 770px;
                }
                .member_btn,
                .demo_btn {
                    padding: 10px 40px;
                    color: #fff;
                    display: inline-block;
                    text-decoration: none;
                    text-align: center;
                    border-radius: 30px;
                }
                .member_btn {
                    background-color: $main_color_2;
                    margin-right: 20px;
                }
                .demo_btn {
                    background-color: $main_color_5;
                }
                .tradeindices,
                .forex {
                    box-sizing: border-box;
                    width: 100%;
                    max-width: 530px;
                    border-radius: 10px;
                    padding: 40px;
                    position: relative;
                    color: #fff;
                    font-size: 16px;
                    text-align: center;
                    margin-bottom: 20px;
                    background-image: url(/images/common/black_bg.jpg);
                    &:after {
                        content: "";
                        width: 1px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 40px;
                        margin: auto;
                        height: 110px;
                        border-right: 1px solid $main_color_5;
                    }
                    li {
                        font-size: 24px;
                        width: 50%;
                        display: inline-block;
                        vertical-align: top;
                        img {
                            margin: 0 auto;
                            display: block;
                            padding-bottom: 20px;
                        }
                    }
                    .tradeindices_text {
                        color: #fff;
                        font-size: 16px;
                        padding: 30px 0;
                        line-height: 24px;
                    }
                    .member_btn,
                    .demo_btn {
                        position: absolute;
                        top: 90%;
                        width: 42%;
                        padding: 15px 0;
                        border: 1px solid #fff;
                    }
                    .member_btn {
                        left: 5%;
                    }
                    .demo_btn {
                        right: 5%;
                    }
                }
                .forex {
                    max-width: none;
                    padding-bottom: 80px;
                    li {
                        width: 25%;
                        font-size: 14px;
                        line-height: 20px;
                        h2 {
                            font-size: 24px;
                            color: $main_color_5;
                            padding-bottom: 10px;
                        }
                    }
                    .member_btn,
                    .demo_btn {
                        width: 25%;
                    }
                    .member_btn {
                        left: 22%;
                    }
                    .demo_btn {
                        right: 22%;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    @include breakpoint(pad, 768px) {
        .page_wrap {
            .page_container {
                .content {
                    .tick {
                        font-size: 14px;
                    }
                    .half_img {
                        width: 100%;
                        display: block;
                        height: auto;
                    }
                    .member_btn,
                    .demo_btn {
                        padding: 20px 0;
                        width: 49%;
                    }
                    .member_btn {
                        margin-right: 2%;
                    }
                    .tradeindices {
                        padding: 20px;
                        &:after {
                            top: 20px;
                        }
                    }
                    .forex {
                        padding: 20px;
                        li {
                            width: 50%;
                            box-sizing: border-box;
                            padding: 10px 10px 20px;
                            img {
                                padding-bottom: 10px;
                            }
                        }
                        .member_btn,
                        .demo_btn {
                            position: absolute;
                            top: 95%;
                            width: 42%;
                            padding: 15px 0;
                            border: 1px solid #fff;
                        }
                        .member_btn {
                            left: 5%;
                        }
                        .demo_btn {
                            right: 5%;
                        }
                    }
                }
            }
        }
    }
}

.tradingplatform_wrapper {
    .title_banner {
        background-image: url(/images/banner/bg_tradingplatform.jpg);
    }
    .page_wrap {
        .page_container {
            padding: 0 20px;
            .title {
                img {
                    display: block;
                    margin: 0 auto;
                    width: 300px;
                }
            }
            .content {
                max-width: 940px;
                padding: 20px;
                box-sizing: border-box;
                margin: 0 auto;
                h1 {
                    font-size: 30px;
                    color: #434343;
                    font-weight: bold;
                    padding-bottom: 20px;
                    line-height: 40px;
                }
                h2 {
                 font-size:  30px;
                 color: $main_color_2;
                 font-weight: bold;
                 padding-bottom: 20px; 
                 line-height: 40px;     
                }
                .tick {
                    font-size: 16px;
                    padding:0 20px 10px;
                    position: relative;
                    &:before {
                        content: "✔";
                        position: absolute;
                        color: $main_color_2;
                        left: 0;
                        top: 0;
                    }
                }
                .web_download {
                    width: 100%;
                    margin: 20px auto 60px;
                    position: relative;
                    padding: 50px 0;
                    >img {
                        position: absolute;
                        right: 44px;
                        top: -20px;
                    }
                    li {
                        box-sizing: border-box;
                        width:45%;
                        margin-bottom: 3%;
                        display: block;
                        &:nth-child(even) {
                            margin-right: 0;
                        }
                        a {
                            border: 1px solid rgba(201,201,201,0.5);
                            box-shadow: 0 2px 5px rgba(137,137,137,0.6);
                            padding: 20px 15px;
                            display: block;
                            border-radius: 10px;
                            text-align: left;
                            background-image: url(/images/mt4/download_icon.png);
                            background-repeat: no-repeat;
                            background-position: 95% center;
                            background-size: 35px;
                            &:hover {
                                opacity: 0.7;
                            }
                            img {
                                width: 50px;
                                display: inline-block;
                                vertical-align: middle;
                                padding-right: 5%;
                                margin-bottom: 0;
                            }
                            .download_text {
                                text-align: left;
                                display: inline-block;
                                vertical-align: middle;
                                b {
                                    font-size: 26px;
                                    font-weight: bold;
                                    color: #434343;
                                    display: block;
                                    line-height: 25px;
                                    padding-bottom: 10px;
                                }
                                span {
                                    font-size: 16px;
                                    color: #898989;
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .mob_download {
                    width: 100%;
                    margin: 20px auto;
                    position: relative;
                    padding: 50px 0;
                    >img {
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                        margin: 0 5%;;
                    }
                    .android_banner {
                        position: absolute;
                        right: -50px;
                        bottom: 100px;
                    }
                    li {
                        box-sizing: border-box;
                        vertical-align: top;
                        width:40%;
                        margin: 70px auto 150px;
                        display: inline-block;
                        &:nth-child(even) {
                            margin-right: 0;
                        }
                        >img {
                            display: inline-block;
                            vertical-align: top;
                            width: 45%;
                            margin-right: 2%;
                        }
                        >p {
                            width: 53%;
                            display: inline-block;
                            vertical-align: top;
                            color: #434343;
                            font-size: 16px;
                        }
                        a {
                            border: 1px solid rgba(201,201,201,0.5);
                            box-shadow: 0 2px 5px rgba(137,137,137,0.6);
                            padding: 20px 15px;
                            display: block;
                            border-radius: 10px;
                            text-align: left;
                            background-image: url(/images/mt4/download_icon.png);
                            background-repeat: no-repeat;
                            background-position: 95% center;
                            background-size: 35px;
                            margin-bottom: 30px;
                            &:hover {
                                opacity: 0.7;
                            }
                            img {
                                width: 50px;
                                display: inline-block;
                                vertical-align: middle;
                                padding-right: 5%;
                                margin-bottom: 0;
                            }
                            .download_text {
                                text-align: left;
                                display: inline-block;
                                vertical-align: middle;
                                b {
                                    font-size: 26px;
                                    font-weight: bold;
                                    color: #434343;
                                    display: block;
                                    line-height: 25px;
                                    padding-bottom: 10px;
                                }
                                span {
                                    font-size: 16px;
                                    color: #898989;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include breakpoint(pad, 768px) {
        .page_wrap {
            margin: 30px auto;
            .page_container {
                .title {
                    img {
                        width: 240px;
                    }
                }
                .content {
                    max-width: 500px;
                    margin: 0 auto;
                    padding: 0;
                    h1,
                    h2 {
                        font-size: 20px;
                        line-height: 28px;
                    }
                    .web_download,
                    .mob_download  {
                        padding: 0;
                        >img,
                        .android_banner {
                            position: relative;
                            width: 100%;
                            right: 0;
                            left: 0;
                            top: 0;
                            margin: auto;
                        }
                        li {
                            width: 100%;
                            margin: 20px auto;
                        }
                    }
                    .mob_download {
                        li {
                            margin: 30px auto 100px;
                        }
                    }
                }
            }
        }
    }
}

.news_wrapper {
    .title_banner {
        background-image: url(/images/banner/bg_economiccalendar.jpg);
    }
    .chart {
        width: 650px;
    }
    @include breakpoint(pad, 768px) {
        .chart,
        iframe {
            width: 100%;
        }  
    }
    #marketReports {
        ul {
            li {
                padding: 25px 0 25px 25px;
                border-bottom: 1px solid #f3f3f3;
                line-height: 30px;
            }
            a {
                text-decoration: none;
                color: #313131;
                &:hover{
                    color: #5e5e5e;
                }
            }
        }
    }
}