.banner {
    width: 100%;
    img {
        width: 100%;
        display: block;
    }
}

.why_wrap {
    width: 100%;
    padding-bottom: 40px;
    background-color: #eeeeee;
    .why_title {
        width: 100%;
        padding: 40px 0 30px;
        text-align: center;
        h1 {
            color: $main_color_3;
            font-size: 48px;
            word-break: break-all;
            font-weight: normal;
            padding-bottom: 15px;
            b {
                font-weight: bold;
            }
        }
        h2 {
            font-size: 30px;
            color: #707070;
        }
    }
    .why_list {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 20px;
        li {
            margin-bottom: 20px;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            background-color: #fff;
            border-radius: 10px;
            text-align: center;
            padding: 20px;
            width: 32%;
            height: 280px;
            margin-right: 2%;
            transition: .2s;
            &:nth-child(3),
            &:nth-child(6) {
                margin-right: 0;
            }
            &:hover {
                transform:scale(1.05);
                box-shadow: 0 5px 20px rgba(0,0,0,0.1);
            }
            h3 {
                font-size: 24px;
                color: #535353;
                font-weight: bold;
                padding: 10px 0;
            }
            p {
                font-size: 16px;
                color: #a0a0a0;
                line-height: 22px;
            }
        }
    }
}

.star_trade_wrap {
    width: 100%;
    background-image: url(/images/index/star_trade_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    .star_trade_content {
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        max-width: 1200px;
        padding: 70px 0 100px 0;
        margin: 0 auto;
        text-align: right;
        &:after {
            content: "";
            position: absolute;
            transform: translate(0, -50%) skewX(-20deg);
            top: 45%;
            left: 0;
            width: 50%;
            height: 70%;
            border-right: 1px solid #fff;
            z-index: 0;
        }
        h2,
        p {
            font-style: italic;
        }
        h2 {
            width: 45%;
            color: #fff;
            font-size: 48px;
            padding: 0 0 30px;
        }
        p {
            position: relative;
            z-index: 2;
            width: 43%;
            padding-bottom: 5px;
            color: #f2cc65;
            box-sizing: border-box;
        }

        h1 {
            position: absolute;
            width: 60%;
            text-align: center;
            right: 0;
            font-weight: bold;
            font-style: italic;
            letter-spacing: -30px;
            transform: translate(0, -50%);
            top: 45%;
            color: #fff;
            font-size: 352px;
            span {
                font-size: 36px;
                letter-spacing: normal;
            }
        }
        .trade_btn {
            position: relative;
            width: 42%;
            padding-top: 30px;
            z-index: 2;
            .member_signup,
            .demo_signup {
                width: 45%;
                margin-right: 4%;
                padding: 15px 0;
                border-radius: 30px;
                border: 1px solid #fff;
                display: inline-block;
                text-decoration: none;
                color: #fff;
                font-size: 20px;
                text-align: center;
            }
            .member_signup {
                background-color: $main_color_2;
            }
        }
    }
}

.mt4_download_wrap {
    padding: 150px 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .mt4_download_content {
        position: relative;
        box-sizing: border-box;
        text-align: left;
        margin-left: 50%;
        .mt4_logo {
            height: 79px;
            text-align: left;
            margin-bottom: 20px;
            img {
                height: 100%;
            }
        }
        .mt4_banner {
            width: 90%;
            position: absolute;
            right: 110%;
            top: -50px;
            z-index: 1;
            img {
                width: 100%;
            }
        }
        h1,
        h3 {
            font-style: italic;
            position: relative;
            margin-bottom:10px ;
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                right: 30%;
                top: 0;
                z-index: -1;
                background: linear-gradient(to right,#eeeeee 0%,#fff 100%);
            }
        }
        h1 {
            color: $main_color;
            font-size: 48px;
            padding: 5px 0;
            b {
                padding: 0 10px;
                font-weight: bold;
                span {
                    color: #f1853c;
                }
            }
        }
        h3 {
            padding: 10px 0;
            font-style: 18px;
            color: #7d7d7d;
            line-height: 23px;
        }
        .download_btn {
            width: 100%;
            margin: 20px auto;
            li {
                box-sizing: border-box;
                width: 47%;
                margin-right: 5%;
                margin-bottom: 3%;
                display: inline-block;
                background-image: url(/images/mt4/download_icon.png);
                background-repeat: no-repeat;
                background-position: 95% center;
                background-size: 25px;
                &:nth-child(even) {
                    margin-right: 0;
                }
                a {
                    border: 1px solid rgba(201,201,201,0.5);
                    box-shadow: 0 2px 5px rgba(137,137,137,0.6);
                    padding: 10px 15px;
                    display: block;
                    border-radius: 10px;
                    text-align: left;
                    &:hover {
                        opacity: 0.7;
                    }
                    img {
                        width: 40px;
                        display: inline-block;
                        vertical-align: middle;
                        padding-right: 5%;
                    }
                    .download_text {
                        text-align: left;
                        display: inline-block;
                        vertical-align: middle;
                        b {
                            font-size: 18px;
                            font-weight: bold;
                            color: #434343;
                            display: block;
                            line-height: 25px;
                        }
                        span {
                            font-size: 12px;
                            color: #898989;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.contact_form_wrap {
    width: 100%;
    padding: 50px 20px 100px;
    background-image: url(/images/index/contact_us.jpg);
    background-repeat: repeat;
    box-sizing: border-box;
    .contact_form_content {
        width: 100%;
        max-width: 740px;
        margin: 0 auto;
        text-align: center;
        h1 {
            font-size: 48px;
            color: $main_color_2;
            padding-bottom: 20px;
        }
        h2 {
            font-size: 30px;
            color: #707070;
            padding-bottom: 50px;
        }
        .contact_form {
            width: 100%;
            padding: 40px;
            box-sizing: border-box;
            background-color: #fff;
            border-radius: 10px;
            input,
            select {
                width: 99.5%;
                height: 60px;
                box-sizing: border-box;
                padding: 10px;
                border: 1px solid #c9c9c9;
                margin-bottom: 10px;
                border-radius: 3px;
                &:nth-child(2),
                &:nth-child(6) {
                    margin-right: 3%;
                }
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(6),
                &:nth-child(8) {
                    width: 48%;
                }
            }
            textarea {
                width: 99.5%;
                border: 1px solid #c9c9c9;
                margin-bottom: 10px;
                border-radius: 3px;
                box-sizing: border-box;
                padding: 10px;
            }
            .submit_btn {
                width: 100%;
                border: 0;
                height: 60px;
                color: #fff;
                padding: 0;
                background-color: $main_color;
                font-size: 26px;
                text-shadow: 0 2px 0 #000;
                font-family:"Microsoft JhengHei","Lucida Grande", Helvetica, Arial, sans-serif;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    opacity: 0.9;
                }
            }
            .captcha_input {
                position: relative;
                margin-bottom: 10px;
                input {
                    margin-bottom: 0;
                }
                .captcha_code {
                    transform: translate(0, -50%);
                    top: 50%;
                    position: absolute;
                    right: 20px;
                }
            }
        }
    }
}

@include breakpoint(pad, 768px) {
    .why_wrap {
        .why_title {
            padding: 20px 0;
            h1 {
                font-size: 24px;
            }
            h2 {
                font-size: 15px;
            }
        }
        .why_list {
            li {
                display: inline-block;
                width: 48%;
                margin-right: 4%;
                padding: 5%;
                &:nth-child(3) {
                    margin-right: 4%;
                }
                &:nth-child(even) {
                    margin-right: 0;;
                }
                &:hover {
                    transform:none;
                    box-shadow: none;
                }
                img {
                    width: 70px;
                }
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
    .star_trade_wrap {
        height: auto;
        .star_trade_content {
            padding: 50px 20px;
            box-sizing: border-box;
            text-align: center;
            &:after {
                display: none;
            }
            h2 {
                width: 100%;
                font-size: 30px;
                padding: 0 0 10px 0;
            }
            h1 {
                width: 100%;
                position: relative;
                font-size: 170px;
                transform: none;
                letter-spacing: -10px;
                top: 0;
                padding: 0 0 30px 0;
                span {
                    font-size: 18px;
                }
            }
            p {
                width: 100%;
                padding: 0;
            }
            .trade_btn {
                width: 100%;
                .member_signup,
                .demo_signup {
                    margin: 0 auto 20px;
                    display: block;
                    width: 100%;
                    max-width: 280px;
                }
            }
        }
    }
    .mt4_download_wrap {
        padding: 50px 20px;
        max-width: 600px;
        box-sizing: border-box;
        .mt4_download_content {
            text-align: center;
            margin: 0 auto;
            .mt4_logo {
                height: 50px;
                text-align: center;
            }
            .mt4_banner {
                max-width: 400px;
                position: relative;
                top: -10px;
                right: 0;
                left: 0;
                margin: auto;
            }
            h1,
            h3 {
                &:after {
                    display: none;
                }
            }
            h1 {
                font-size: 24px;
                margin-bottom: 0;
            }
            .download_btn {
                margin: 10px auto;;
                li {
                    width: 90%;
                    margin: 0 auto 20px;
                }
            }
        }
    }
    .contact_form_wrap {
        padding-bottom: 60px;
        .contact_form_content {
            h2 {
                padding-bottom: 30px;
            }
            .contact_form {
                padding: 20px;
                input,
                select {
                    width: 100%;
                    &:nth-child(2),
                    &:nth-child(6) {
                        margin-right: 0;
                    }
                    &:nth-child(2),
                    &:nth-child(4),
                    &:nth-child(6),
                    &:nth-child(8) {
                        width: 100%;
                    }
                }
                textarea {
                    width: 100%;
                }
            }
        }
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: rgba(0,0,0,0.8);
    z-index: 999;
    .popup_content {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto 60px;
        top: 5%;
        width: 90%;
        max-width: 600px;
        background-color: #fff;
        min-height: 50%;
        padding: 40px 20px 100px 20px;
        box-sizing: border-box;
        border-radius: 10px;
        background-image: url(/images/openaccount/mini_logo.png);
        background-repeat: no-repeat;
        background-position: 97% 97%;
        background-size: 60px;
        word-break: break-all;
        .close {
            position: absolute;
            font-size: 50px;
            right: 20px;
            top: 20px;
            height: 25px;
            width: 25px;
            color: #000;
            background-image: url(/images/common/close.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            &:hover {
                opacity: .5;
                cursor: pointer;
            }
        }
        h2 {
            font-size: 24px;
            margin-bottom: 20px;
            box-sizing: border-box;
            text-align: center;
            color: #427fab;
            line-height: 30px;
            font-weight: bold;
        }
        p {
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 21px;
        }
        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    }    
}