/* 如果你超厭煩寫media很長的名字這只能用在class裡面 */
/* mixin變數 */
/* 判斷變數是pc、pad還是mobile，再依照判斷出來的載入對應的media query */
@mixin breakpoint($point, $witdh) {
    @if $point == pad {
        @media only screen and (max-width: $witdh),
        only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1),
        only screen and (min-device-width: 1280px) and (max-device-width: 1280px) and (orientation: landscape) and (-webkit-max-device-pixel-ratio: 1.5) and (min-resolution: 192dpi),
        only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-max-device-pixel-ratio: 2),
        only screen and (min-device-width: 1440px) and (max-device-width: 1440px) and (orientation: landscape) and (-webkit-max-device-pixel-ratio: 1.5) {
        @content;
        }
    }
    @if $point == mobile {
        @media only screen and (max-width: $witdh) {
        @content;
        }
    }
    @if $point == web {
        @media only screen and (min-width: $witdh) {
        @content;
        }
    }
}

/* 主視覺色 */
$main_color: #002e5b;
$main_color_2: #0066b5;
$main_color_3: #427fab;
$main_color_4: #ffd360;
$main_color_5: #f17840;
$main_color_6: #00a0e9;
$manager_green: #35b597;